<div class="content">
						<div class="refill affiliate-program">
							<div class="heading">
								<h1>{$title}</h1>
								<div class="texts">
									<p>{$sub_title}</p>
								</div>
							</div>
							<div class="refill-details">
								<div class="table_column with_table">
                <form action="?action=exchange" method='post'>
                  <table cellspacing="0" cellpadding="0" style="width: 100%">
                    <tbody>
                      <tr>
                        <th style="padding: 10px;">{$lang['exchange_sum']}</th>
                        <td class="data">
                          <span>{$point_pay} </span>
                        </td>
                      </tr>
                      <tr>
                        <th >{$lang['exchange_cours']}</th>
                        <td class="data" style="text-align: center; vertical-align: midle; padding: 10px;">
                          <span class="link">{$point_cours}</span>
                        </td>
                      </tr>
                      <tr>
                        <th>Кол-во поинтов для обмена</th>
                        <td class="data" style="text-align: center; vertical-align: midle; padding: 10px;">
                          <input type="text" name="sumpoints" class="dk_f_input" placeholder="0" value="{$point_pay}">
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <a href="#" style="width: 220px; margin: 20px;" class="btn-green submit">{$lang['button_EXCHANGE']}</a>
                  </form>
                </div>
                
							</div>
						</div>
					</div>