<div class="games">

    <div class="game">
        <a href="/mob/deluxe/justjewels_dx/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/justjewels_dx.png" alt="" border="0"/>
        </a>
    </div>
	
    <div class="game">
        <a href="/mob/deluxe/diamond7/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/diamond7.png" alt="" border="0"/>
        </a>
    </div>	
	
    <div class="game">
        <a href="/mob/deluxe/sizzlinghot_dx/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/sizzlinghot_dx.png" alt="" border="0"/>
        </a>
    </div>	
	
    <div class="game">
        <a href="/mob/deluxe/ultrahot_dx/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/ultrahot_dx.png" alt="" border="0"/>
        </a>
    </div>	
	
    <div class="game">
        <a href="/mob/deluxe/mystery_star/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/mystery_star.png" alt="" border="0"/>
        </a>
    </div>	
	
    <div class="game">
        <a href="/mob/deluxe/jolly_fruits/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/jolly_fruits.png" alt="" border="0"/>
        </a>
    </div>

    <div class="game">
        <a href="/mob/deluxe/plenty/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/plenty.png" alt="" border="0"/>
        </a>
    </div>

    <div class="game">
        <a href="/mob/deluxe/dolphins_dx/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/dolphins_dx.png" alt="" border="0"/>
        </a>
    </div>

    <div class="game">
        <a href="/mob/deluxe/seasirens/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/seasirenes.png" alt="" border="0"/>
        </a>
    </div>

    <div class="game">
        <a href="/mob/deluxe/mermaids/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/mermaids.png" alt="" border="0"/>
        </a>
    </div>

    <div class="game">
        <a href="/mob/deluxe/magicprincess/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/magicprincess.png" alt="" border="0"/>
        </a>
    </div>

    <div class="game">
        <a href="/mob/deluxe/ramses2/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/ramses2.png" alt="" border="0"/>
        </a>
    </div>

    <div class="game">
        <a href="/mob/deluxe/holydays/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/holydays.png" alt="" border="0"/>
        </a>
    </div>	
	
    <div class="game">
        <a href="/mob/deluxe/luckylady_dx/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/luckylady_dx.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/deluxe/columbus_dx/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/columbus_dx.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/deluxe/lordofoceans/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/lordofoceans.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/deluxe/alchemist/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/alchemist.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/deluxe/pharaoh_ring/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/pharaoh_ring.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/deluxe/golden_cobras/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/golden_cobras.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/deluxe/horses/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/horses.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/deluxe/sand/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/sand.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/deluxe/bookofra_dx/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/bookofra_dx.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/gaminators/alwayshot/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/alwayshot.png" alt="" border="0"/>
        </a>
    </div>		

    <div class="game">
        <a href="/mob/gaminators/bananas/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/bananas.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/gaminators/bananasplash/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/bananasplash.png" alt="" border="0"/>
        </a>
    </div>

    <div class="game">
        <a href="/mob/gaminators/bookofra/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/bookofra.png" alt="" border="0"/>
        </a>
    </div>

    <div class="game">
        <a href="/mob/gaminators/cashmachine/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/cashmachine.png" alt="" border="0"/>
        </a>
    </div>

    <div class="game">
        <a href="/mob/gaminators/cuba/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/cuba.png" alt="" border="0"/>
        </a>
    </div>

    <div class="game">
        <a href="/mob/gaminators/deepwater/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/deepwater.png" alt="" border="0"/>
        </a>
    </div>

    <div class="game">
        <a href="/mob/gaminators/dolphins/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/dolphins.png" alt="" border="0"/>
        </a>
    </div>

    <div class="game">
        <a href="/mob/gaminators/geisha/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/geisha.png" alt="" border="0"/>
        </a>
    </div>

    <div class="game">
        <a href="/mob/gaminators/goldenplanet/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/goldenplanet.png" alt="" border="0"/>
        </a>
    </div>

    <div class="game">
        <a href="/mob/gaminators/luckylady/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/luckylady.png" alt="" border="0"/>
        </a>
    </div>

    <div class="game">
        <a href="/mob/gaminators/moneygame/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/moneygame.png" alt="" border="0"/>
        </a>
    </div>

    <div class="game">
        <a href="/mob/gaminators/ph2/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/ph2.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/gaminators/ph3/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/ph3.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/gaminators/royaltreasures/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/royaltreasures.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/gaminators/safariheat/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/safariheat.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/gaminators/secretforest/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/secretforest.png" alt="" border="0"/>
        </a>
    </div>		
	
    <div class="game">
        <a href="/mob/gaminators/sparta/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/sparta.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/gaminators/tikiisland/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/tikiisland.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/gaminators/ultrahot/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/ultrahot.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/gaminators/unicorn/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/unicorn.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/gaminators/worldcup/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/worldcup.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/gaminators/attila/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/attila.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/gaminators/beatlemania/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/beatlemania.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/gaminators/buzzinbugs/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/buzzinbugs.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/gaminators/columbus/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/columbus.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/gaminators/dynasty/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/dynasty.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/gaminators/fourqueens/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/fourqueens.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/gaminators/gryphonsgold/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/gryphonsgold.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/gaminators/hottarget/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/hottarget.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/gaminators/illusionist/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/illusionist.png" alt="" border="0"/>
        </a>
    </div>		
	
    <div class="game">
        <a href="/mob/gaminators/justjewels/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/justjewels.png" alt="" border="0"/>
        </a>
    </div>		
	
    <div class="game">
        <a href="/mob/gaminators/kingofcards/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/kingofcards.png" alt="" border="0"/>
        </a>
    </div>		
	
    <div class="game">
        <a href="/mob/gaminators/kingofcash/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/kingofcash.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/gaminators/markopolo/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/markopolo.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/gaminators/polarfox/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/polarfox.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/gaminators/queenof/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/queenof.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/gaminators/russian/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/russian.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/gaminators/russianfairy/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/russianfairy.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/gaminators/sizzlinghot/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/sizzlinghot.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/gaminators/venetian/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/venetian.png" alt="" border="0"/>
        </a>
    </div>

    <div class="game">
        <a href="/mob/erotic/asian/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/asian.png" alt="" border="0"/>
        </a>
    </div>
	
	<div class="game">
        <a href="/mob/erotic/blond/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/blond.png" alt="" border="0"/>
        </a>
    </div>
	
	<div class="game">
        <a href="/mob/erotic/charming/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/charming.png" alt="" border="0"/>
        </a>
    </div>
	
	<div class="game">
        <a href="/mob/erotic/crazyparty/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/crazyparty.png" alt="" border="0"/>
        </a>
    </div>
	
	<div class="game">
        <a href="/mob/erotic/desires/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/desires.png" alt="" border="0"/>
        </a>
    </div>
	
	<div class="game">
        <a href="/mob/erotic/fancy/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/fancy.png" alt="" border="0"/>
        </a>
    </div>
	
	<div class="game">
        <a href="/mob/erotic/girlgirl/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/girlgirl.png" alt="" border="0"/>
        </a>
    </div>
	
	<div class="game">
        <a href="/mob/erotic/happyholidays/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/happyholidays.png" alt="" border="0"/>
        </a>
    </div>
	
	<div class="game">
        <a href="/mob/erotic/latin/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/latin.png" alt="" border="0"/>
        </a>
    </div>
	
	<div class="game">
        <a href="/mob/erotic/naked/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/naked.png" alt="" border="0"/>
        </a>
    </div>
	
	<div class="game">
        <a href="/mob/erotic/redhot/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/redhot.png" alt="" border="0"/>
        </a>
    </div>
	
	<div class="game">
        <a href="/mob/erotic/strip/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/strip.png" alt="" border="0"/>
        </a>
    </div>
	
	<div class="game">
        <a href="/mob/erotic/tasty/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/tasty.png" alt="" border="0"/>
        </a>
    </div>
	
	<div class="game">
        <a href="/mob/erotic/boobs/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/boobs.png" alt="" border="0"/>
        </a>
    </div>
	
    <div class="game">
        <a href="/mob/b3w/atlantis/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/atlantis.png" alt="" border="0"/>
        </a>
    </div>	
	
    <div class="game">
        <a href="/mob/b3w/dartagnan/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/dartagnan.png" alt="" border="0"/>
        </a>
    </div>	
	
    <div class="game">
        <a href="/mob/b3w/devils/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/devils.png" alt="" border="0"/>
        </a>
    </div>	
	
    <div class="game">
        <a href="/mob/b3w/dracula/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/dracula.png" alt="" border="0"/>
        </a>
    </div>	
	
    <div class="game">
        <a href="/mob/b3w/gladiator/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/gladiator.png" alt="" border="0"/>
        </a>
    </div>	
	
    <div class="game">
        <a href="/mob/b3w/happyfarm/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/happyfarm.png" alt="" border="0"/>
        </a>
    </div>	
	
    <div class="game">
        <a href="/mob/b3w/jungle/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/jungle.png" alt="" border="0"/>
        </a>
    </div>	
	
    <div class="game">
        <a href="/mob/b3w/jurassic/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/jurassic.png" alt="" border="0"/>
        </a>
    </div>	
	
    <div class="game">
        <a href="/mob/b3w/luckyluke/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/lukyluke.png" alt="" border="0"/>
        </a>
    </div>	
	
    <div class="game">
        <a href="/mob/b3w/lunapark/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/lunapark.png" alt="" border="0"/>
        </a>
    </div>	
	
    <div class="game">
        <a href="/mob/b3w/mafia/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/mafia.png" alt="" border="0"/>
        </a>
    </div>	
	
    <div class="game">
        <a href="/mob/b3w/montblanc/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/montblanc.png" alt="" border="0"/>
        </a>
    </div>	
	
    <div class="game">
        <a href="/mob/b3w/navy/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/navy.png" alt="" border="0"/>
        </a>
    </div>	
	
    <div class="game">
        <a href="/mob/b3w/numbers/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/numbers.png" alt="" border="0"/>
        </a>
    </div>	
	
    <div class="game">
        <a href="/mob/b3w/smalllife/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/smalllife.png" alt="" border="0"/>
        </a>
    </div>	
	
    <div class="game">
        <a href="/mob/3d/heist/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/heist.png" alt="" border="0"/>
        </a>
    </div>

    <div class="game">
        <a href="/mob/3d/madscientist/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/madscientist.png" alt="" border="0"/>
        </a>
    </div>

    <div class="game">
        <a href="/mob/3d/treasure/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/treasure.png" alt="" border="0"/>
        </a>
    </div>

    <div class="game">
        <a href="/mob/microgaming/dolphin_quest/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/dolphin_quest.png" alt="" border="0"/>
        </a>
    </div>	

    <div class="game">
        <a href="/mob/microgaming/avalon2/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/avalon2.png" alt="" border="0"/>
        </a>
    </div>
	
    <div class="game">
        <a href="/mob/microgaming/dark_knight/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/dark_knight.png" alt="" border="0"/>
        </a>
    </div>
	
    <div class="game">
        <a href="/mob/microgaming/extreme_heat/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/extreme_heat.png" alt="" border="0"/>
        </a>
    </div>
	
    <div class="game">
        <a href="/mob/microgaming/game_of_thrones/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/game_of_thrones.png" alt="" border="0"/>
        </a>
    </div>
	
    <div class="game">
        <a href="/mob/microgaming/hellboy/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/hellboy.png" alt="" border="0"/>
        </a>
    </div>
	
    <div class="game">
        <a href="/mob/microgaming/hitman/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/hitman.png" alt="" border="0"/>
        </a>
    </div>
	
    <div class="game">
        <a href="/mob/microgaming/jurassic_park/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/jurassic_park.png" alt="" border="0"/>
        </a>
    </div>
	
    <div class="game">
        <a href="/mob/microgaming/playboy/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/playboy.png" alt="" border="0"/>
        </a>
    </div>
	
    <div class="game">
        <a href="/mob/microgaming/romance/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/romance.png" alt="" border="0"/>
        </a>
    </div>
	
    <div class="game">
        <a href="/mob/microgaming/thundertruck2/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/thundertruck2.png" alt="" border="0"/>
        </a>
    </div>
	
    <div class="game">
        <a href="/mob/netent/gonzo/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/gonzo.png" alt="" border="0"/>
        </a>
    </div>

    <div class="game">
        <a href="/mob/netent/jackhammer/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/jackhammer.png" alt="" border="0"/>
        </a>
    </div>

    <div class="game">
        <a href="/mob/netent/southpark/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/southpark.png" alt="" border="0"/>
        </a>
    </div>

    <div class="game">
        <a href="/mob/netent/spacewars/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/spacewars.png" alt="" border="0"/>
        </a>
    </div>

    <div class="game">
        <a href="/mob/netent/starburst/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/starburst.png" alt="" border="0"/>
        </a>
    </div>
	
    <div class="game">
        <a href="/mob/netent/wildwater/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/wildwater.png" alt="" border="0"/>
        </a>
    </div>		
	
    <div class="game">
        <a href="/mob/netent/alien_robots/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/alien_robots.png" alt="" border="0"/>
        </a>
    </div>
	
    <div class="game">
        <a href="/mob/netent/boom_brothers/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/boom_brothers.png" alt="" border="0"/>
        </a>
    </div>
	
    <div class="game">
        <a href="/mob/netent/cosmic/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/cosmic.png" alt="" border="0"/>
        </a>
    </div>
	
    <div class="game">
        <a href="/mob/netent/crusade/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/crusade.png" alt="" border="0"/>
        </a>
    </div>
	
    <div class="game">
        <a href="/mob/netent/hall/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/hall.png" alt="" border="0"/>
        </a>
    </div>
	
    <div class="game">
        <a href="/mob/netent/hotcity/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/hotcity.png" alt="" border="0"/>
        </a>
    </div>
	
    <div class="game">
        <a href="/mob/netent/megafortune/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/megafortune.png" alt="" border="0"/>
        </a>
    </div>
	
    <div class="game">
        <a href="/mob/netent/megajoker/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/megajoker.png" alt="" border="0"/>
        </a>
    </div>
	
    <div class="game">
        <a href="/mob/netent/scareface/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/scareface.png" alt="" border="0"/>
        </a>
    </div>	
	
    <div class="game">
        <a href="/mob/table/black_jack/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/black_jack.png" alt="" border="0"/>
        </a>
    </div>	
	
    <div class="game">
        <a href="/mob/table/carib_poker/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/carib_poker.png" alt="" border="0"/>
        </a>
    </div>	
	
    <div class="game">
        <a href="/mob/table/roulette_euro/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/roulette_euro.png" alt="" border="0"/>
        </a>
    </div>	
	
    <div class="game">
        <a href="/mob/table/roulette_euro2/" target="_self" >
            <img width="145" height="105" src="{$theme_url}/ico/roulette_euro2.png" alt="" border="0"/>
        </a>
    </div>		

</div>	  