{if isset($m)}		

<div class="refill-details">
								<div class="block">
<p><center>{$lang['enter_confirm']} <b>{$oa}</b> {$lang['enter_cur']}</center><br></p>
									<div class="center">
<form id="fk" method="get"  action="http://www.free-kassa.ru/merchant/cash.php">	
        <input type="hidden" name="m" value="{$m}"/>
        <input type="hidden" name="oa" value="{$oa}" />
        <input type="hidden" name="s" value="{$s}" />
        <input type="hidden" name="o" value="{$o}" />
</form>

                    
                    <a class="btn-blue" href="#" onclick="fk.submit();return false;">{$lang['button_OK']}</a>
									</div>
								</div>
							</div>
              


{else if !isset($system)}

<center>

<img style="width: 137px; height: 137px;" src="{$theme_url}/promo/block3_1.png">
<img style="width: 137px; height: 137px;" src="{$theme_url}/promo/block3_2.png">
<img style="width: 137px; height: 137px;" src="{$theme_url}/promo/block3_3.png">
<img style="width: 137px; height: 137px;" src="{$theme_url}/promo/block3_4.png">
<img style="width: 137px; height: 137px;" src="{$theme_url}/promo/block3_5.png">
<img style="width: 137px; height: 137px;" src="{$theme_url}/promo/block3_6.png">
<img style="width: 137px; height: 137px;" src="{$theme_url}/promo/block3_8.png">
<img style="width: 137px; height: 137px;" src="{$theme_url}/promo/block3_9.png">
<img style="width: 137px; height: 137px;" src="{$theme_url}/promo/block3_10.png">
<img style="width: 137px; height: 137px;" src="{$theme_url}/promo/block3_11.png">
<img style="width: 137px; height: 137px;" src="{$theme_url}/promo/block3_12.png">
<img style="width: 137px; height: 137px;" src="{$theme_url}/promo/block3_13.png">

</center>

<br /><br />

<form id= "fk" method="POST" action="/{$ge}?action=send&system=fk">
									<fieldset>
										<div class="block">
											<div class="title">
												<h2>{$lang['enter_SUM_ENTER']}</h2>
											</div>
											<div class="form-control">
												<input type="text" name="money" value="{$config['enter_from']}"/>
												<input type="submit" value="{$lang['button_PAY']}" class="btn-blue" />
											</div>
										</div>
									</fieldset>
</form>

{/if}		