.nav-item {
    font-size: 12px !important;
    border-radius: 5px;
}

.nav-item:hover {
    background: #f1f0f0;
    outline: 1px solid #8d8c8c;
}

.tickets {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 14px;
    line-height: 1.42857143;
    color: #b2b2b2;
    font-family: Verdana, Geneva, Arial, sans-serif;
    box-sizing: border-box;
    margin-top: 40px;
}

.tickets .ticket {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 14px;
    line-height: 1.42857143;
    color: #b2b2b2;
    font-family: Verdana, Geneva, Arial, sans-serif;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #bce8f1;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.ticket .ticket-heading {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 14px;
    line-height: 1.42857143;
    font-family: Verdana, Geneva, Arial, sans-serif;
    box-sizing: border-box;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    background-image: linear-gradient(to bottom,#d9edf7 0,#c4e3f3 100%);
    background-repeat: repeat-x;
}

.ticket-heading .date {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 14px;
    line-height: 1.42857143;
    font-family: Verdana, Geneva, Arial, sans-serif;
    color: #31708f;
    box-sizing: border-box;
}

.ticket-body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 14px;
    line-height: 1.42857143;
    color: #b2b2b2;
    font-family: Verdana, Geneva, Arial, sans-serif;
    box-sizing: border-box;
    text-align: left;
    padding: 15px;
}

/* Tournaments */

.tournament-prizes, .tournament-games{
    border-radius: 5px;
    list-style-type: none;
}

.tournament-prizes li, .tournament-games li {
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* ./Tournaments */
