@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
body {
  background-color: #1E2340;
  font-family: "Source Sans Pro", sans-serif;
}

* {
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  border: none;
  background: none;
}

input::-webkit-input-placeholder {
  color: #999;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

/* Firefox < 19 */
input:-moz-placeholder {
  color: #999;
}

input:focus:-moz-placeholder {
  color: transparent;
}

/* Firefox > 19 */
input::-moz-placeholder {
  color: #999;
}

input:focus::-moz-placeholder {
  color: transparent;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
  color: #999;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

a, button, input {
  outline: none !important;
}

a:focus {
  outline: none;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

* {
  outline: none;
}

.modal-wrap {
  display: none;
  position: fixed;
  z-index: 30000;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(69, 69, 69, 0.84);
  overflow-y: scroll;
}

.modal-active {
  display: block;
}

.modal-active-flex {
    display: flex;
}

.modal_not_available{
    justify-content: center;
    align-items: center;
}

.modal_not_available .modal_1{
    min-height: 18vh;
    width: 30vw;
    max-height: 18vh;
}

.modal {
  background: #fff;
  width: 752px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  background: #2E2E2E;
  border-radius: 10px;
}

.modal_1 {
  min-height: 664px;
}

.modal_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.modal_1__onesec {
  width: 366px;
  background: #593FE0;
  padding: 41px 31px;
  position: relative;
  overflow: hidden;
}
.modal_1 .logo {
  position: relative;
  z-index: 5;
}
.modal_1 .reg_img_l_1 {
  position: absolute;
  width: 110%;
  z-index: 4;
  pointer-events: none;
}
@media (min-width: 769px) {
  .modal_1 .reg_img_l_1 {
    left: -20px;
    bottom: -40px;
  }
}
.modal_1 .reg_img_l_2 {
  position: absolute;
  max-width: 83px;
  top: -23px;
  right: -30px;
  z-index: 3;
  pointer-events: none;
}
@media (min-width: 769px) {
  .modal_1 .reg_img_l_2 {
    top: -23px;
    right: -30px;
  }
}
.modal_1 .reg_img_l_3 {
  position: absolute;
  width: 223px;
  left: -95px;
  top: 150px;
  z-index: 2;
  pointer-events: none;
}
@media (min-width: 769px) {
  .modal_1 .reg_img_l_3 {
    left: -95px;
    top: 150px;
  }
}
.modal_1 .reg_img_l_4 {
  position: absolute;
  width: 550px;
  right: -250px;
  top: 130px;
  z-index: 1;
  pointer-events: none;
}
@media (min-width: 769px) {
  .modal_1 .reg_img_l_4 {
    right: -250px;
    top: 130px;
  }
}
.modal_1 .reg_left_p1 {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-top: 46px;
  position: relative;
  z-index: 5;
}

ul{
    list-style-type: circle;
}

ol{
    list-style-type: decimal;
}

.modal_1 .reg_left_p2 {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 58px;
  color: #FFFFFF;
  position: relative;
  z-index: 5;
}
.modal_1 .reg_left_p2 span {
  color: #FBB03B;
}
.modal_1 .reg_left_p3 {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  position: relative;
  z-index: 5;
}
.modal_1 .reg_left_p3 span {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}
.modal_1__twosec {
  width: 385px;
  padding: 27px 30px 23px 30px;
  position: relative;
  height: 664px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.modal_1__twosec .modal_close {
  position: absolute;
  top: 27px;
  right: 22px;
}
.modal_1__twosec .input_wrap1 {
  background: #3D3D3D;
  border: 1px solid #3D3D3D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  height: 54px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin-bottom: 15px;
}
.modal_1__twosec .input_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #353535;
  width: 66px;
  height: 100%;
}
.modal_1__twosec .input1 {
  background: none;
  border: none;
  width: 100%;
  padding: 0 10px 0 22px;
}
.modal_1__twosec .input1::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #8E8E8E;
}
.modal_1__twosec .input1::-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #8E8E8E;
}
.modal_1__twosec .input1:-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #8E8E8E;
}
.modal_1__twosec .input1::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #8E8E8E;
}
.modal_1__twosec .input1,
.modal_1__twosec .input1::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #8E8E8E;
}
.modal_1 .registr {
  width: 100%;
  height: 54px;
  margin-top: 25px;
  margin-bottom: 60px;
}
.modal_1 .btn03 {
  width: 100%;
  height: 54px;
}

.form_log_reg {
  margin-top: 28px;
}

.chckbox_it {
  padding-right: 15px;
}
.chckbox_it .checkbox1 {
  display: none;
}
.chckbox_it .checkbox1 + label {
  display: block;
  width: 20px;
  height: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#CA0468), to(#FE2739));
  background: linear-gradient(90deg, #CA0468 0%, #FE2739 100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}
.chckbox_it .checkbox1:checked + label {
  background: -webkit-gradient(linear, left top, right top, from(#CA0468), to(#FE2739));
  background: linear-gradient(90deg, #CA0468 0%, #FE2739 100%);
  display: block;
}
.chckbox_it .checkbox1:checked + label:after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(/img/icons/Check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.form_agreeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.modal1__bottom {
  border-top: 1px solid #3D3D3D;
  padding-top: 13px;
  position: relative;
}

.forgot_pass_btn {
  margin-bottom: 15px;
  display: inline-block;
}

@media (max-width: 780px) {
  .modal_registration {
    padding: 0 20px;
  }

  .modal {
    max-width: 100%;
  }

  .modal_1__twosec {
    padding: 27px 15px;
  }
}
@media (max-width: 768px) {
  .modal_registration {
    padding: 0 15px;
  }

  .modal_login {
    padding: 0 15px;
  }
  .modal_login .modal_1__twosec {
    max-height: 438px;
  }

  .modal_1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .modal_1__onesec {
    width: 100%;
    height: 244px;
    padding: 16px;
  }
  .modal_1__onesec .logo {
    max-width: 158px;
  }
  .modal_1 .reg_img_l_1 {
    width: 244px;
    right: -100px;
    top: 0;
  }
  .modal_1 .reg_img_l_3 {
    top: 155px;
  }
  .modal_1 .reg_left_p1,
.modal_1 .reg_left_p2,
.modal_1 .reg_left_p3 {
    text-align: left;
  }
  .modal_1 .reg_left_p1 {
    margin-top: 20px;
  }
  .modal_1__twosec {
    width: 100%;
  }
  .modal_1__twosec .modal_close {
    right: 8px;
    top: 27px;
  }
}
.header {
  padding: 15px 0;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_sec_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_sec_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_sec_2 .rigistration_btn {
  margin-right: 20px;
}
.header_sec_2 .lang {
  margin-top: -22px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin-left: -10px;
  width: 200px;
  margin-right: 17px;
}
.logo span {
  display: block;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-style: normal;
}
.logo__name {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #EAE7D6;
  margin-bottom: 4px;
}
.logo__part2 {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #EAE7D6;
}
.logo img {
  width: 100%;
}

.main_nav {
  margin-left: 25px;
}
.main_nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

}
.main_nav__item {
  margin-left: 25px;
  padding: 5px 0;
}
.main_nav__link {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #EAE7D6;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.main_nav__link:hover {
  color: #F8233E;
}

.main_nav__active a {
  color: #F8233E;
}

.rigistration_btn {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  width: 232px;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, right top, from(#CA0468), to(#FE2739));
  background: linear-gradient(90deg, #CA0468 0%, #FE2739 100%);
  -webkit-box-shadow: 0px 0px 20px rgba(250, 36, 60, 0.8);
          box-shadow: 0px 0px 20px rgba(250, 36, 60, 0.8);
  border-radius: 5px;
  border: none;
  padding: 5px 5px;
  height: 44px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.rigistration_btn:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(99.99%, #FE2739), to(#CA0468));
  background: linear-gradient(90deg, #FE2739 99.99%, #CA0468 100%);
  -webkit-box-shadow: 0px 0px 20px #FA243C;
          box-shadow: 0px 0px 20px #FA243C;
}

.login_btn {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  height: 44px;
  width: 114;
  padding: 10px 20px;
  border: none;
  background: #353F4B;
  border-radius: 10px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.login_btn:hover {
  background: #593FE0;
}

.lang_wrapper {
  position: relative;
  width: 77px;
  margin-right: 20px;
}

.lang {
  margin-right: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background: #353F4B;
  border-radius: 10px;
  height: auto;
  max-height: 44px;
  overflow: hidden;
  margin-right: 0;
  width: 77px;
  padding: 11px 0 11px 7px;
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
}
.lang::after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  background-image: url(/img/icons/arrow-1.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 9px;
  top: 15px;
}
.lang:hover {
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
  max-height: 1500px;
}
.lang__flag {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
}
.lang__flag img {
  height: 30px;
  margin-top: -4px;
}
.lang__lengi {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.lang li {
  margin-bottom: 11px;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.lang li:last-child {
  margin-bottom: 0;
}
.lang li a {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_sec_3 {
  display: none;
}

.mobile_menu_btn {
  display: none;
  height: 44px;
  width: 44px;
  background: #353F4B;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 15px;
  margin-left: 10px;
  cursor: pointer;
}
.mobile_menu_btn span {
  display: block;
  height: 2px;
  border: 10px;
  background-color: #EAE7D6;
}
.mobile_menu_btn span:nth-child(1) {
  width: 16px;
}
.mobile_menu_btn span:nth-child(2) {
  width: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
}
.mobile_menu_btn span:nth-child(3) {
  width: 8px;
}

.sec-2-3-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1090px) {
  .header .main_nav {
    margin-left: 5px;
  }
  .header .main_nav__item {
    margin-left: 12px;
  }
  .header .lang_wrapper {
    margin-right: 10px;
  }
  .header .rigistration_btn {
    margin-right: 10px;
  }
}
@media (max-width: 992px) {
  .header .main_nav {
    display: none;
  }
  .header .lang_wrapper {
    margin-right: 10px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .header .rigistration_btn {
    margin-right: 10px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .header .login_btn {
    display: none;
  }
  .header .header_sec_3 {
    display: block;
  }
  .header .mobile_menu_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .sec-2-3-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 60%;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 10px 0;
  }
  .header .main_nav {
    display: none;
  }
  .header .lang_wrapper {
    display: none;
  }
  .header .rigistration_btn {
    display: none;
  }
  .header .login_btn {
    display: block;
    color: #FFFFFF;
    background: -webkit-gradient(linear, left top, right top, from(#CA0468), to(#FE2739));
    background: linear-gradient(90deg, #CA0468 0%, #FE2739 100%);
    -webkit-box-shadow: 0px 0px 20px rgba(250, 36, 60, 0.8);
            box-shadow: 0px 0px 20px rgba(250, 36, 60, 0.8);
  }
  .header .login_btn:hover {
    background: -webkit-gradient(linear, left top, right top, color-stop(99.99%, #FE2739), to(#CA0468));
    background: linear-gradient(90deg, #FE2739 99.99%, #CA0468 100%);
    -webkit-box-shadow: 0px 0px 20px #FA243C;
            box-shadow: 0px 0px 20px #FA243C;
  }

  .logo {
    max-width: 160px;
    margin-right: 2px;
  }
  .logo img {
    max-width: 100%;
  }

  .sec-2-3-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 60%;
  }
}
@media (max-width: 500px) {
  .header .login_btn {
    font-size: 16px;
    line-height: 20px;
    height: 36px;
    width: 86px;
    padding: 5px;
  }
  .header .mobile_menu_btn {
    width: 36px;
    height: 36px;
    padding: 9px 9px;
  }
}
.footer {
  background-color: #1A1F38;
  padding: 42px 0 65px 0;
  overflow: hidden;
}
.footer .container {
  position: relative;
}
.footer__container {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__copy {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: #888888;
  margin-top: 17px;
}
.footer__log-reg {
  margin-top: 45px;
}
.footer__log-reg .rigistration_btn {
  margin-right: 20px;
}

.footer__log-reg-mob{
    display: none;
    margin-bottom: 20px;
    margin-top: -10px;
}

.footer__section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-right: 15px;
}
.footer__section2 {
  margin-right: 15px;
}
.footer__section3 {
  margin-right: 15px;
}
.footer__section4 {
  margin-right: 15px;
}
.footer__section4 .lang_wrapper {
  margin-top: 24px;
}
.footer__link_list {
  max-width: 171px;
}
.footer__link_list li {
  margin-bottom: 10px;
}
.footer__link_list li a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #888888;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.footer__link_list li a:hover {
  color: #F8233E;
}
.footer__bottom-line {
  position: relative;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__bottom-line img {
  position: relative;
  max-width: 100%;
  z-index: 1;
  padding-left: 20px;
}
.footer__bottom-line::before {
  display: block;
  content: "";
  background: #212744;
  border-radius: 10px 0px 0px 10px;
  position: absolute;
  width: 400%;
  height: 70px;
}

.footer__mobsec2 {
  display: none;
}

.footer__mobsec7 {
  display: none;
}

@media (max-width: 992px) {
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__log-reg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__log-reg .rigistration_btn {
    min-width: 223px;
  }
  .footer__bottom-line {
    height: 44px;
  }
  .footer__bottom-line img {
    padding-left: 12px;
  }
  .footer__bottom-line::before {
    height: 44px;
  }

  .footer__section1,
.footer__section2,
.footer__section3,
.footer__section4 {
    width: 50%;
    margin-right: 0;
  }

  .footer__section1,
.footer__section2 {
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .footer .footer__section1 {
    margin-bottom: 30px;
  }
  .footer .footer__section1 .footer__log-reg {
    display: none;
  }
  .footer .footer__section2 {
    margin-bottom: 30px;
  }
  .footer .footer__section4 .lang_wrapper {
    display: none;
  }
  .footer .footer__mobsec2 {
    display: block;
    width: 50%;
  }
  .footer .footer__container {
    margin-bottom: 35px;
  }
  .footer .footer__mobsec7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 39px;
  }
  .footer .footer__mobsec7 .rigistration_btn {
    margin-right: 14px;
  }
  .footer__bottom-line {
    height: 21px;
  }
  .footer__bottom-line img {
    padding-left: 6px;
  }
  .footer__bottom-line::before {
    height: 21px;
    border-radius: 10px 0px 0px 10px;
  }
  .footer__log-reg-mob {
      display: block;
  }
}
@media (max-width: 500px) {
  .footer .logo img {
    max-width: 160px;
  }
  .footer .title_05 {
    font-size: 20px;
    line-height: 25px;
  }
  .footer__link_list li a {
    font-size: 16px;
    line-height: 20px;
  }
  .footer .footer__mobsec7 .rigistration_btn,
.footer .footer__mobsec7 .login_btn {
    font-size: 16px;
    line-height: 20px;
  }
}
.content {
  margin-top: 32px;
}

.main-slider_wrapper {
  padding-bottom: 40px;
  position: relative;
}

.main-slider img {
  max-width: 100%;
}
.main-slider__slide {
  overflow: hidden;
  max-height: 300px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.main-slider .slick-dots button:before {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #353F4B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  color: transparent;
  opacity: 1;
}
.main-slider .slick-dots .slick-active button:before {
  display: block;
  opacity: 1;
  width: 16px;
  height: 16px;
  color: transparent;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#CA0468), to(#FE2739));
  background: linear-gradient(90deg, #CA0468 0%, #FE2739 100%);
}

.btn_slid {
  background-color: #353F4B;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-image: url(/img/icons/arrow-2.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
  top: calc(50% - 60px);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.btn_slid:active, .btn_slid:hover {
  background-color: #FE2739;
}
@media (max-width: 1188px) {
  .btn_slid {
    display: none !important;
  }
}

.btn-prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: -22px;
}

.btn-next {
  right: -22px;
}

.total-jackpots_wrapp {
  margin-bottom: 15px;
}

.total-jackpots {
  background: linear-gradient(89.37deg, #114A34 0%, #257F5B 100%);
  border-radius: 10px;
  height: 120px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 7px;
}
.total-jackpots__title {
  width: 33.33%;
}
.total-jackpots__sum {
  width: 33.33%;
  font-family: "Lobster", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 74px;
  line-height: 92px;
  color: #FFFFFF;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
}
.total-jackpots__sum span {
  color: #232931;
  text-shadow: none;
}
@media (max-width: 1077px) {
    .modal_not_available .modal_1{
        min-width: 80vw;
        max-width: 80vw;
        max-height: 17vh;
        min-height: 17vh;
    }
    .modal_not_available__close{
        display: block !important;
    }
  .total-jackpots__sum {
    font-size: 65px;
    line-height: 85px;
  }
}
.total-jackpots__img {
  width: 33.33%;
}
.total-jackpots__img img {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 1015px) {
  .total-jackpots {
    height: 90px;
  }
  .total-jackpots__title img {
    max-width: 158px;
  }
  .total-jackpots__sum {
    font-size: 44px;
    line-height: 55px;
  }
  .total-jackpots__img img {
    max-width: 228px;
  }
}
@media (max-width: 647px) {
  .total-jackpots__img {
    display: none;
  }

  .total-jackpots__title {
    width: 40%;
    text-align: center;
  }
  .total-jackpots__title img {
    max-width: 130px;
  }

  .total-jackpots__sum {
    text-align: center;
    width: 60%;
    font-size: 36px;
    line-height: 45px;
  }
}
.top_line-bar {
  margin-top: 30px;
  margin-bottom: 20px;
}
.top_line-bar__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top_line-bar .top_line-bar__tabbtn_section {
  width: 100%;
  background: #1A1F38;
  border-radius: 10px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7px 5px;
}
.top_line-bar .rigistration_btn {
  width: 33.33%;
  height: 57px;
  max-width: 270px;
  margin: 0;
  margin-left: 10px;
}

.tab-btn_01 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
}

.tab-btn_01__active {
  color: #FDDF00;
  background: #593FE0;
  border-radius: 5px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 9px 46px;
}

.content-home {
  margin-bottom: 60px;
}
.content-home__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-home__wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.card_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-right: 10px;
}

.content-side {
  width: 33.33%;
  max-width: 270px;
  min-width: 0;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.card__bg {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.card {
  margin-right: 2.37%;
  width: 31.75%;
  height: 156px;
  margin-bottom: 20px;
  position: relative;
  background: #353F4B;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: hidden !important;
}
.card:nth-of-type(3n) {
  margin-right: 0px;
}
.card:hover .card__info {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.card img {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card__info {
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  position: absolute;
  z-index: 1;
  top: 0;
  background: rgba(89, 63, 224, 0.94);
  height: 100%;
  width: 100%;
  padding: 20px 16px 5px 16px;
  max-width: 270px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.card__info-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 100%;
  color: #FFFFFF;
  margin-bottom: 5px;
}
.card__info-txt {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  color: #BBBBBB;
  margin-bottom: 5px;
}
.card .btn_02 {
  margin-top: 5px;
  width: 87%;
  height: 40px;
  font-size: 16px;
  line-height: 20px;
  bottom: 8%;
}
@media (max-width: 880px) {
  .card .btn_02 {
    height: 30px;
    font-size: 14px;
    line-height: 16px;
  }
  .card .card__info {
    padding: 12px 10px 5px 10px;
  }
}
.card__favorites {
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  -webkit-mask-image: url(/img/icons/favorites.svg);
          mask-image: url(/img/icons/favorites.svg);
  -webkit-mask-size: cover;
          mask-size: cover;
  position: absolute;
  background-color: #BBBBBB;
  top: 7px;
  right: 15px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.card__favorites:hover {
  background-color: #FFA313;
}

.tournament_1 {
  width: 100%;
}
.tournament_1__wrap {
  background: #1A1F38;
  border-radius: 10px;
  overflow: hidden;
}
.tournament_1__info {
  background-image: url(/img/bgtournam.jpg);
  background-size: cover;
  background-position: center;
  padding: 24px 20px 18px 20px;
  margin-bottom: 0;
    transition-duration: 0.1s;
}

.tournament_1 span {
  display: block;
}
.tournament_1__mintitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  margin-bottom: 2px;
}
.tournament_1__name {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.tournament_1__prize {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #FBB03B;
  margin-bottom: 15px;
}
.tournament_1__towait {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.tournament_1__list {
  padding: 18px 20px 26px 20px;
}
.tournament_1__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tournament_1__line_i {
  margin-bottom: 10px;
}
.tournament_1__line_i:last-child {
  margin-bottom: 0;
}
.tournament_1__line_i span {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}
.tournament_1__line_i p {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}
.tournament_1__lable {
  margin-bottom: 10px;
}
.tournament_1__lable span, .tournament_1__lable p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  color: #EAE7D6;
}

.line-winner {
  margin-top: 20px;
}
.line-winner .tournament_1__info {
  background-image: url(/img/line-winnerbg.png);
  background-position: center;
  background-size: cover;
  height: 210px;
  width: 100%;
  background-color: #593FE0;
  padding: 33px 5px 15px 5px;
}
.line-winner .tournament_1__list {
  padding-bottom: 0;
}
.line-winner .tournament_1__wrap {
  max-height: 438px;
  position: relative;
}
.line-winner .tournament_1__wrap::after {
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: block;
  content: "";
  width: 100%;
  height: 55px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 35, 64, 0)), to(#1A1F38));
  background: linear-gradient(180deg, rgba(30, 35, 64, 0) 0%, #1A1F38 100%);
}
.line-winner__txt1 {
  font-family: "Lobster", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #FBB03B;
  margin-top: 20px;
}
.line-winner__txt2 {
  margin-top: -10px;
  font-family: "Lobster", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 57px;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 1020px) {
  .line-winner__txt2 {
    font-size: 37px;
    line-height: 47px;
  }
}

@media (max-width: 992px) {
  .top_line-bar__wrapp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  .top_line-bar__tabbtn_section {
    margin-right: 0;
  }
  .top_line-bar .rigistration_btn {
    width: 100%;
    max-width: 100%;
    height: 61px;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .content-home__wrapp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .content-side {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    max-width: 100%;
    width: 100%;
    margin-top: 20px;
  }
  .content-side .tournament_1 {
    max-width: 50%;
    margin-right: 10px;
    height: 571px;
  }
  .content-side .line-winner {
    margin-left: 10px;
    width: 50%;
    margin-top: 0;
  }
  .content-side .line-winner .tournament_1__wrap {
    max-height: 100%;
  }
  .content-side .line-winner .tournament_1__info {
    height: 218px;
  }

  .card {
    height: 134px;
  }
}
.tabbtn_section__addwrp {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 665px) {
  .top_line-bar {
    overflow: hidden;
  }
  .top_line-bar__tabbtn_section {
    overflow: scroll;
    position: relative;
    max-width: 700px;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }
  .top_line-bar__tabbtn_section::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .top_line-bar .tabbtn_section__addwrp {
    position: relative;
    min-width: 500px;
  }

  .main-slider_wrapper {
    padding-bottom: 0 !important;
  }

  .slick-slide {
    margin-bottom: 10px !important;
  }

  .slick-dots {
    bottom: -15px !important;
  }
  .slick-dots li {
    margin: 0 3px !important;
    width: 10px !important;
    height: 10px !important;
  }
  .slick-dots button:before {
    display: block;
    width: 10px !important;
    height: 10px !important;
    border: 1px solid #353F4B;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 50%;
    color: transparent;
    opacity: 1;
  }
  .slick-dots .slick-active button:before {
    display: block;
    opacity: 1;
    width: 10px !important;
    height: 10px !important;
    color: transparent;
    border: 1px solid transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 50%;
    background: -webkit-gradient(linear, left top, right top, from(#CA0468), to(#FE2739));
    background: linear-gradient(90deg, #CA0468 0%, #FE2739 100%);
  }
}
@media (max-width: 615px) {
  .main-slider_wrapper {
    padding-bottom: 20px;
  }

  .card_container {
    margin-right: 0;
  }

  .card {
    width: 48.62%;
    margin-right: 0;
  }
  .card:nth-of-type(3n) {
    margin-right: 0px;
  }
  .card:nth-child(odd) {
    margin-right: 1.38% !important;
  }
  .card:nth-child(even) {
    margin-left: 1.38% !important;
  }

  .content-side {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column !important;
            flex-flow: column !important;
  }
  .content-side .tournament_1 {
    min-width: 100%;
    margin-left: 0px;
    margin-right: 0;
  }
  .content-side .line-winner {
    margin-top: 25px;
  }

  .tabbtn_section__addwrp {
    height: 40px;
    padding: 4px;
  }

  .tab-btn_01 {
    font-size: 14px;
    line-height: 16px;
  }

  .tab-btn_01__active {
    padding: 7px 10px;
  }

  .top_line-bar .rigistration_btn {
    font-size: 16px;
    min-width: 100%;
    line-height: 20px;
    height: 44px;
    margin-bottom: 20px;
    margin-top: 0;
  }
}
@media (max-width: 465px) {
  .card {
    height: 95px;
  }

  .card__info {
    padding: 6px 10px !important;
  }
  .card__info .card__favorites {
    height: 20px;
    width: 20px;
    top: 5px;
    right: 7px;
  }
  .card__info .card__info-title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 3px;
  }
  .card__info .card__info-txt {
    font-size: 10px;
    line-height: 12px;
  }
  .card__info .btn_02 {
    font-size: 12px;
    line-height: 14px;
    height: 20px;
  }
}
.hide-content {
  display: none;
}

.show-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.casino_page .cazinopage_w {
  width: 100%;
  margin-left: 10px;
}
.casino_page .top_line-bar {
  margin-top: 0;
}
.casino_page .top_line-bar__tabbtn_section {
  margin-right: 0;
}
.casino_page .content-side {
  margin-left: 0;
  margin-right: 10px;
}
.casino_page .content-home {
  margin-top: 30px;
}
.casino_page .line-winner {
  margin-top: 0;
  display: block !important;
}
.casino_page .tournament_1 {
  display: none;
}

.sideb-propose1 {
  margin-bottom: 30px;
}
.sideb-propose1 .card {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 0;
}

.support_sec_min {
  padding: 22px 10px 28px 25px;
  background: #1A1F38;
  border-radius: 10px;
}
.support_sec_min h5 {
  font-weight: normal;
}

.mail_link_wi {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  padding-left: 24px;
  background-image: url(/img/icons/icon-mail_min_w.svg);
  background-position: center left;
  background-repeat: no-repeat;
}

/* Chat */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0A0F21;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #00C181;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.chat{
    background-color: #0a0f21;
    max-height: 48vh;
    min-height: 48vh;
    overflow-y: auto;
    border-radius: 10px 10px 0 0;
    padding: 5px;
}

.chat-form{
    background-color: #0a0f21;
    width: 100%;
    padding: 20px;
    margin-top: 2px;
    border-radius: 0 0 10px 10px;
}

.chat-form div input[type="text"]{
    width: 100%;
}

.chat-message{
    flex-wrap: wrap;
    display: flex;
    padding: 10px;
}

.chat-message div {
    display: flex;
    max-width: 100%;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.chat-message-admin{
    flex-direction: row !important;
    justify-content: flex-start !important;
}

.client-msg{
    justify-content: flex-end;
}

.chat-message div .chat-message-msg{
    background-color: #1A1F38;
    padding: 10px;
    padding-left: 15px;
    margin-left: 10px;
    margin-right: 10px;
    color: #d7d7d7;
    border-radius: 10px;
    max-width: 83%;
    display: inline-block;
    word-wrap: break-word;
}

/* ./Chat */

@media (max-width: 992px) {
  .casino_page .tournament_1 {
    display: block;
  }
  .casino_page .sideb-propose1 {
    display: none;
  }
  .casino_page .sideb-contact {
    display: none;
  }
  .casino_page .content-home__wrapp {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-flow: column-reverse !important;
            flex-flow: column-reverse !important;
  }
  .casino_page .content-side {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
    margin-right: 0;
  }
  .casino_page .line-winner {
    margin-right: 0;
  }
  .casino_page .cazinopage_w {
    margin-left: 0;
  }
}
@media (max-width: 615px) {
  .casino_page .content-side {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-flow: column-reverse !important;
            flex-flow: column-reverse !important;
    margin-right: 0;
  }
  .casino_page .tournament_1 {
    margin-bottom: 25px;
  }
  .casino_page .line-winner {
    margin-bottom: 0;
  }
}
.bonuses_page {
  min-height: 588px;
}
.bonuses_page__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.bonuses_page__baner {
  width: 32.1%;
  margin-right: 1.85%;
  margin-bottom: 1.85%;
  overflow: hidden;
  border-radius: 12px;
}
.bonuses_page__baner img {
  width: 100%;
}
.bonuses_page__baner:nth-of-type(3n) {
  margin-right: 0;
}
@media (max-width: 420px) {
  .bonuses_page__baner {
    min-width: 100% !important;
    width: 100% !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}
.bonuses_page .banner_stock1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bonuses_page .banner_stock1__txt {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  position: absolute;
  text-align: center;
  padding: 10px;
}

@media (max-width: 992px) {
  .bonuses_page {
    min-height: 588px;
  }
  .bonuses_page__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .bonuses_page__baner {
    width: 48.8%;
    margin-bottom: 20px;
  }
  .bonuses_page__baner img {
    width: 100%;
  }
  .bonuses_page__baner:nth-of-type(3n) {
    margin-right: 0px;
  }
  .bonuses_page__baner:nth-child(odd) {
    margin-right: 1.2%;
  }
  .bonuses_page__baner:nth-child(even) {
    margin-left: 1.2%;
    margin-right: 0;
  }
}
.big-banner {
  margin-bottom: 25px;
}
.big-banner__banner {
  border-radius: 10px;
  overflow: hidden;
}
.big-banner__banner img {
  width: 100%;
}

.vip-club .text_block1 {
  margin-bottom: 60px;
}

.privilege {
  margin-top: 50px;
}
.privilege__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.privilege__item {
  background: #1A1F38;
  border-radius: 10px;
  overflow: hidden;
  width: 32.16%;
  margin-right: 1.76%;
  height: 232px;
  padding: 32px 25px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}
.privilege__item:nth-child(3n) {
  margin-right: 0;
}
.privilege__content {
  padding-top: 77px;
}
.privilege__mintitle {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  color: #FBB03B;
  margin-bottom: 5px;
}
.privilege__txt {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: #FFFFFF;
}
.privilege .privilege_num {
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 120%;
  color: #293054;
  top: 19px;
  left: 11px;
}
.privilege .privilege_i_img_1 {
  position: absolute;
  top: -90px;
  right: -90px;
}

.how_to_start {
  margin-bottom: 50px;
}
.how_to_start__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.how_to_start__item {
  margin-bottom: 20px;
}
.how_to_start__item:nth-child(1), .how_to_start__item:nth-child(2), .how_to_start__item:nth-child(3) {
  width: 32.15%;
  height: 232px;
  margin-right: 1.77%;
  padding: 26px 5px;
  text-align: center;
  border-radius: 10px;
}
.how_to_start__item:nth-child(1) {
  background: radial-gradient(50% 50% at 50% 50%, #481468 0%, rgba(48, 21, 93, 0.99) 100%);
  position: relative;
  z-index: 1;
}
.how_to_start__item:nth-child(1)::after {
  display: block;
  content: "";
  height: 35px;
  width: 25px;
  -webkit-mask-image: url(/img/icons/triangle.svg);
          mask-image: url(/img/icons/triangle.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-color: rgba(48, 21, 93, 0.99);
  position: absolute;
  right: -25px;
  top: 45%;
  z-index: 2;
}
.how_to_start__item:nth-child(1) .how_to_start__item-wrapp {
  height: 150px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}
.how_to_start__item:nth-child(1) img {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  border-radius: 10px 10px 0 0;
  max-width: 180px;
}
.how_to_start__item:nth-child(2) {
  background: -webkit-gradient(linear, left top, right top, from(#CA0468), to(#FE2739));
  background: linear-gradient(90deg, #CA0468 0%, #FE2739 100%);
  position: relative;
}
.how_to_start__item:nth-child(2)::before {
  display: block;
  content: "";
  height: 35px;
  width: 25px;
  -webkit-mask-image: url(/img/icons/triangle.svg);
          mask-image: url(/img/icons/triangle.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-color: #1E2340;
  position: absolute;
  left: 0;
  top: 45%;
}
.how_to_start__item:nth-child(2)::after {
  display: block;
  content: "";
  height: 35px;
  width: 25px;
  -webkit-mask-image: url(/img/icons/triangle.svg);
          mask-image: url(/img/icons/triangle.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-color: #FE2739;
  position: absolute;
  right: -25px;
  top: 45%;
  z-index: 1;
}
.how_to_start__item:nth-child(2) .txt-b-o {
  margin-top: 15px;
}
.how_to_start__item:nth-child(3) {
  background: #FFA313;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0;
  position: relative;
}
.how_to_start__item:nth-child(3)::before {
  display: block;
  content: "";
  height: 35px;
  width: 25px;
  -webkit-mask-image: url(/img/icons/triangle.svg);
          mask-image: url(/img/icons/triangle.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-color: #1E2340;
  position: absolute;
  left: 0;
  top: 45%;
}
.how_to_start__item:nth-child(3) .txt_club {
  margin-top: 10px;
}
.how_to_start__item:nth-child(4) {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.how_to_start__item:nth-child(4) .btn_reglog_hs {
  width: 32.15%;
  margin-right: 1.77%;
  height: 60px;
}
.how_to_start__item:nth-child(4) .btn_toup_balance_01 {
  width: 66.08%;
  height: 60px;
}
.how_to_start__mintitle {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 120%;
  color: #FFFFFF;
}
.how_to_start .txt-b-o {
  display: block;
}

@media (max-width: 1020px) {
  .how_to_start__mintitle {
    font-size: 29px;
  }
}
@media (max-width: 992px) {
  .privilege__item {
    width: 48.85%;
  }
  .privilege__item:nth-child(3n) {
    margin-right: 0;
  }
  .privilege__item:nth-child(even) {
    margin-left: 1.15%;
    margin-right: 0;
  }
  .privilege__item:nth-child(odd) {
    margin-right: 1.15%;
    margin-left: 0;
  }

  .title_3 {
    font-size: 36px !important;
    line-height: 45px !important;
  }

  .how_to_start__mintitle {
    font-size: 30px;
  }
  .how_to_start__item {
    width: 48.95% !important;
    margin-right: 0 !important;
  }
  .how_to_start__item:nth-child(1)::before, .how_to_start__item:nth-child(1)::after, .how_to_start__item:nth-child(2)::before, .how_to_start__item:nth-child(2)::after, .how_to_start__item:nth-child(3)::before, .how_to_start__item:nth-child(3)::after {
    display: none;
  }
  .how_to_start__item:nth-child(odd) {
    margin-right: 2.1% !important;
  }
  .how_to_start__item:nth-child(4) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
  }
  .how_to_start__item:nth-child(4) .btn_reglog_hs {
    margin-bottom: 20px;
  }
  .how_to_start__item:nth-child(4) .btn_reglog_hs,
.how_to_start__item:nth-child(4) .btn_toup_balance_01 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .privilege {
    margin-top: 20px;
  }
  .privilege__item {
    width: 100%;
  }
  .privilege__item:nth-child(3n) {
    margin-right: 0;
  }
  .privilege__item:nth-child(even) {
    margin-left: 0;
    margin-right: 0;
  }
  .privilege__item:nth-child(odd) {
    margin-right: 0;
    margin-left: 0;
  }
  .privilege .privilege__mintitle {
    font-size: 22px;
    line-height: 120%;
  }
  .privilege .privilege__txt {
    font-size: 15px;
    line-height: 120%;
  }

  .title_3 {
    font-size: 24px !important;
    line-height: 30px !important;
  }

  .how_to_start .btn_reglog_hs,
.how_to_start .btn_toup_balance_01 {
    font-size: 18px;
    line-height: 23px;
  }
  .how_to_start__item {
    margin-bottom: 20px;
    max-height: 218px;
  }
}
@media (max-width: 650px) {
  .how_to_start__mintitle {
    font-size: 28px;
  }
  .how_to_start__item {
    width: 100% !important;
    margin-right: 0 !important;
  }
  .how_to_start__item:nth-child(odd) {
    margin-right: 0 !important;
  }
  .how_to_start__item:nth-child(4) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
  }
  .how_to_start__item:nth-child(4) .btn_reglog_hs {
    margin-bottom: 20px;
  }
  .how_to_start__item:nth-child(4) .btn_reglog_hs,
.how_to_start__item:nth-child(4) .btn_toup_balance_01 {
    width: 100%;
  }
}
.text-page {
  margin-bottom: 60px;
}
.text-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.text-page__sidebar {
  width: 270px;
  min-width: 270px;
  margin-right: 20px;
}
.text-page__content {
  width: 100%;
}
.text-page__content .p_2 {
  margin-bottom: 15px;
}
.text-page__content .list_3_2 {
  margin-left: 30px;
  margin-bottom: 15px;
}
.text-page__content .list_3_2 .p_2 {
  margin-bottom: 0;
}

.aside-menu1 {
  background: #1A1F38;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 25px;
  width: 100%;
}
.aside-menu1__section {
  margin-bottom: 15px;
}
.aside-menu1__section:last-child {
  margin-bottom: 0px;
}
.aside-menu1__item {
  margin-bottom: 5px;
}
.aside-menu1__item a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #888888;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.aside-menu1__item a:hover {
  color: #F62240;
}
.aside-menu1 .aside-menu1__item_active a {
  color: #F62240;
}

.sec_t01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.license-img {
  margin-bottom: 15px;
  margin-right: 20px;
}

.btn_write_to_supp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 270px;
  width: 270px;
  height: 54px;
  margin-top: 30px;
}

@media (max-width: 992px) {
  .text-page__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .text-page__sidebar {
    width: 100%;
    min-width: 100%;
    margin-right: 0px;
  }
  .text-page__content {
    width: 100%;
  }
  .text-page__content .p_2 {
    margin-bottom: 15px;
  }
  .text-page__content .list_3_2 {
    margin-left: 30px;
    margin-bottom: 15px;
  }
  .text-page__content .list_3_2 .p_2 {
    margin-bottom: 0;
  }
  .text-page .aside-menu1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px;
  }
  .text-page .aside-menu1__section {
    width: 33.33%;
    padding-right: 25px;
    margin-bottom: 0;
  }
  .text-page .support_sec_min {
    display: none;
  }

  .license-img {
    max-width: 167px;
  }

  .btn_write_to_supp {
    min-width: 100%;
  }
}
@media (max-width: 768px) {
  .text-page .aside-menu1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .text-page .aside-menu1__section {
    width: 50%;
    padding-right: 15px;
    margin-bottom: 30px;
  }
  .text-page .aside-menu1__section:last-child {
    margin-bottom: 0;
  }
  .text-page .aside-menu1__item a {
    font-size: 16px;
    line-height: 20px;
  }
  .text-page .title_05 {
    font-size: 20px;
    line-height: 25px;
  }

  .sec_t01 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .aside-menu1 {
    padding: 19px 15px;
    margin-bottom: 30px;
  }

  .license-img {
    max-width: 164px;
  }
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (max-width: 1170px) {
  .container {
    width: 100%;
  }
}

.title_05 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #EAE7D6;
  margin-bottom: 10px;
}

.btn_02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 15%;
  left: 7%;
  width: 196px;
  height: 50px;
  z-index: 1;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, right top, from(#CA0468), to(#FE2739));
  background: linear-gradient(90deg, #CA0468 0%, #FE2739 100%);
  -webkit-box-shadow: 0px 0px 20px rgba(250, 36, 60, 0.8);
          box-shadow: 0px 0px 20px rgba(250, 36, 60, 0.8);
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.btn_02:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(99.99%, #FE2739), to(#CA0468));
  background: linear-gradient(90deg, #FE2739 99.99%, #CA0468 100%);
  -webkit-box-shadow: 0px 0px 20px #FA243C;
          box-shadow: 0px 0px 20px #FA243C;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn03 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  width: 232px;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, right top, from(#CA0468), to(#FE2739));
  background: linear-gradient(90deg, #CA0468 0%, #FE2739 100%);
  -webkit-box-shadow: 0px 0px 20px rgba(250, 36, 60, 0.8);
          box-shadow: 0px 0px 20px rgba(250, 36, 60, 0.8);
  border-radius: 5px;
  border: none;
  padding: 5px 5px;
  height: 44px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.btn03:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(99.99%, #FE2739), to(#CA0468));
  background: linear-gradient(90deg, #FE2739 99.99%, #CA0468 100%);
  -webkit-box-shadow: 0px 0px 20px #FA243C;
          box-shadow: 0px 0px 20px #FA243C;
}

.btn_toup_balance_01 {
  background: -webkit-gradient(linear, left top, right top, from(#FBB03B), color-stop(98.96%, #AE6A00));
  background: linear-gradient(90deg, #FBB03B 0%, #AE6A00 98.96%);
  -webkit-box-shadow: 0px 0px 20px rgba(255, 194, 95, 0.4);
          box-shadow: 0px 0px 20px rgba(255, 194, 95, 0.4);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.btn_toup_balance_01:hover {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  background: -webkit-gradient(linear, left top, right top, from(#ffab24), color-stop(98.96%, #bd780b));
  background: linear-gradient(90deg, #ffab24 0%, #bd780b 98.96%);
  -webkit-box-shadow: 0px 0px 20px rgba(251, 176, 59, 0.4);
          box-shadow: 0px 0px 20px rgba(251, 176, 59, 0.4);
  border-radius: 5px;
}

.txt-b-o {
  font-style: normal;
  font-weight: 900;
  font-size: 84px;
  line-height: 120%;
  color: #FFA313;
}

.txt_club {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.4em;
  color: #FFFFFF;
  display: block;
}

.title1 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;
}

.p1 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #BCBCBC;
}

.link1 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #E7174D;
}
.link1:hover {
  color: #E7174D;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.title_3 {
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 58px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.title_3 span {
  color: #FBB03B;
}

.title_3_1 {
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 58px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.list_3_1__item {
  margin-bottom: 20px;
  position: relative;
  padding-left: 20px;
}
.list_3_1__item::after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: 7px;
  background: -webkit-gradient(linear, left top, right top, from(#CA0468), to(#FE2739));
  background: linear-gradient(90deg, #CA0468 0%, #FE2739 100%);
}

.list_3_2__item {
  position: relative;
  padding-left: 20px;
  margin-top: 10px;
}
.list_3_2__item::after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  top: 7px;
  border: 1px solid #FE2739;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.p_2 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .title_3_1 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .p_2 {
    font-size: 15px;
    line-height: 19px;
  }

  .list_3_2__item {
    margin-top: 5px;
  }
}
.account_topbar_wrapp {
  position: relative;
}

.account_topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 189px;
  height: 60px;
  background: #353F4B;
  border-radius: 10px;
  padding: 8px 10px;
  cursor: pointer;
}
.account_topbar__arrow {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.account_topbar__arrow img {
  -webkit-transition-delay: 0.2s !important;
          transition-delay: 0.2s !important;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.account_topbar:hover .account_topbar__arrow img {
  -webkit-transition-delay: 0s !important;
          transition-delay: 0s !important;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.account_topbar__avatar {
  height: 44px;
  width: 44px;
  overflow: hidden;
  border-radius: 50px;
}
.account_topbar__avatar img {
  border-radius: 50px;
  max-width: 100%;
}
.account_topbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-left: 15px;
}
.account_topbar__username {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}
.account_topbar__balance {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #00C383;
}

.flx-01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account_topbar_menu {
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  z-index: 10;
  top: 65px;
  width: 221px;
  max-width: 221px;
  background: #353F4B;
  border-radius: 10px;
  padding: 15px;
}
.account_topbar_menu li {
    list-style-type: none !important;
    margin-bottom: 15px;
}
.account_topbar_menu li:last-child {
  margin-bottom: 0;
}
.account_topbar_menu li a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #888888;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.account_topbar_menu li a .icon1 {
  font-size: 18px;
  width: 28px;
  display: inline-block;
}
.account_topbar_menu li a .icon1::before {
  max-height: 5px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.account_topbar_menu li a .icon-ic-3 {
  font-size: 20px;
}
.account_topbar_menu li a .icon-ic-5 {
  font-size: 16px;
}
.account_topbar_menu li a:hover {
  color: #F8233E;
}
.account_topbar_menu li a:hover .icon1::before {
  color: #F8233E;
}
.account_topbar_menu .ac_t_menu_active a {
  color: #F8233E;
}
.account_topbar_menu .ac_t_menu_active a .icon1::before {
  color: #F8233E;
}

.account_topbar_wrapp:hover .account_topbar_menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0s !important;
          transition-delay: 0s !important;
}

.header_account__pluse {
  width: 44px;
  height: 44px;
  background: #00C181;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 193, 129, 0.25);
          box-shadow: 0px 0px 50px rgba(0, 193, 129, 0.25);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 15px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header_account__pluse:hover {
  opacity: 0.9;
}
.header_account__pluse span {
  display: block;
  -webkit-mask-image: url(/img/icons/plus.svg);
          mask-image: url(/img/icons/plus.svg);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  background-color: #fff;
  height: 22px;
  width: 22px;
}

.flx__002 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_account .footer__log-reg {
  display: none;
}
.footer_account .footer__mobsec7 {
  display: none;
}

.account_content {
  margin-top: 40px;
}

.account_content {
  color: #888888;
}
.account_content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.account_sidebar {
  width: 270px;
  min-width: 270px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.account_sidebar__wrapper {
  width: 100%;
  border-radius: 10px;
  background: #1A1F38;
  padding: 18px 25px 18px 25px;
}

.account_sidebar_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 19px;
  margin-bottom: 15px;
  border-bottom: 1px solid #1E2340;
}
.account_sidebar_top__avatar-wrapp {
  position: relative;
}
.account_sidebar_top__avatar {
  height: 51px;
  width: 51px;
  overflow: hidden;
  border-radius: 50px;
}
.account_sidebar_top__avatar img {
  border-radius: 50px;
  max-width: 100%;
}
.account_sidebar_top__username {
  margin-left: 15px;
}
.account_sidebar_top__username span {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  color: #FFFFFF;
}

.btn_edit_img {
  display: block;
  position: absolute;
  z-index: 1000;
  bottom: -2px;
  right: -2px;
  background-image: url(/img/icons/edit.svg);
  background-position: center;
  background-color: #FE5500;
  width: 17px;
  height: 17px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.btn_edit_img:hover {
  background-color: #df4a00;
}

.account_sidebar_menu {
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}
.account_sidebar_menu__mnuwrapp {
  padding-bottom: 15px;
}


.account_sidebar_menu li {
  margin-bottom: 15px;
    list-style-type: none;
}
.account_sidebar_menu li:last-child {
  margin-bottom: 0;
}
.account_sidebar_menu li a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #888888;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.account_sidebar_menu li a .icon1 {
  font-size: 18px;
  width: 28px;
  display: inline-block;
}
.account_sidebar_menu li a .icon1::before {
  max-height: 5px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.account_sidebar_menu li a .icon-ic-3 {
  font-size: 20px;
}
.account_sidebar_menu li a .icon-ic-5 {
  font-size: 16px;
}
.account_sidebar_menu li a:hover {
  color: #F8233E;
}
.account_sidebar_menu li a:hover .icon1::before {
  color: #F8233E;
}
.account_sidebar_menu__logout {
  border-top: 1px solid #1E2340;
  padding-top: 17px;
}
.account_sidebar_menu .ac_t_menu_active a {
  color: #F8233E;
}
.account_sidebar_menu .ac_t_menu_active a .icon1::before {
  color: #F8233E;
}

.account_main {
  width: 100%;
}
.account_main__wrapper {
  background: #1A1F38;
  border-radius: 10px;
  padding: 22px 15px 7px 15px;
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  .header_account .header_sec_2 {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-flow: row-reverse !important;
            flex-flow: row-reverse !important;
  }
  .header_account .account_topbar_wrapp {
    margin-left: 15px;
  }

  .account_content {
    margin-top: 30px;
  }

  .account_content__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .account_content .account_sidebar {
    width: 100%;
    margin-bottom: 30px;
  }
  .account_content .account_main__wrapper {
    margin-bottom: 30px;
  }

  .account_sidebar__wrapper {
    padding: 19px 25px;
  }

  .account_sidebar_menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .account_sidebar_menu__mnuwrapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 120px;
  }
}
@media (max-width: 768px) {
  .account_sidebar_menu__mnuwrapp {
    height: 100%;
  }

  .account_sidebar {
    margin-bottom: 20px !important;
  }
  .account_sidebar__wrapper {
    padding: 19px 15px;
  }

  .account_sidebar_menu li {
    margin-bottom: 10px;
  }

  .account_topbar_wrapp {
    margin-left: 0;
  }

  .account_topbar {
    height: 48px;
    width: 117px;
    padding: 5px 10px;
  }
  .account_topbar__avatar {
    display: none;
  }
  .account_topbar__info {
    margin-left: 0;
  }
  .account_topbar__username {
    font-size: 14px;
    line-height: 18px;
  }
  .account_topbar__balance {
    font-size: 16px;
    line-height: 20px;
  }

  .header_account__pluse {
    display: none;
  }

  .account_topbar_menu {
    right: 0;
    top: 51px;
    width: 180px;
    max-width: 180px;
    padding: 12px;
  }
  .account_topbar_menu li {
    margin-bottom: 7px;
  }
  .account_topbar_menu li a {
    font-size: 14px;
  }
  .account_topbar_menu li a .icon1 {
    font-size: 14px;
    width: 22px;
  }

  .account_content {
    margin-top: 20px;
  }
  .account_content__wrapper {
    margin-bottom: 30px !important;
  }

  .account_main__wrapper {
    padding: 19px 7px 7px 7px;
    margin-bottom: 10px !important;
  }
}
.txt-title1 {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #888888;
  padding-left: 15px;
}
@media (max-width: 768px) {
  .txt-title1 {
    padding-left: 8px;
    font-size: 14px;
    line-height: 15px;
  }
}

.balance_01 {
  margin-bottom: 25px;
}
.balance_01__head {
  padding: 9px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.balance_01__head li {
  width: 50%;
    list-style-type: none;
}
.balance_01__head li span {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #FFFFFF;
}
.balance_01__body {
  background: #1E2340;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 20px;
}
.balance_01__body li {
  width: 50%;
    list-style-type: none !important;
}
.balance_01__body li span {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #00C383;
}

.table_01 {
  margin-top: 8px;
}
.table_01__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 3px solid #1E2340;
  padding: 10px 15px;
  margin-bottom: 10px;
    list-style-type: none;
}
.table_01__head li {
  padding-right: 5px;
}
.table_01__head li:nth-child(1) {
  width: 15%;
}
.table_01__head li:nth-child(2) {
  width: 25%;
}
.table_01__head li:nth-child(3) {
  width: 25%;
}
.table_01__head li:nth-child(4) {
  width: 20%;
}
.table_01__head li:nth-child(5) {
  width: 15%;
}
.table_01__head li span {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}
.table_01__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 15px;
  background: #1E2340;
  border-radius: 10px;
  margin-bottom: 10px;
    list-style-type: none;
}
.table_01__row li {
  padding-right: 5px;
}
.table_01__row li:nth-child(1) {
  width: 15%;
}
.table_01__row li:nth-child(2) {
  width: 25%;
}
.table_01__row li:nth-child(3) {
  width: 25%;
}
.table_01__row li:nth-child(4) {
  width: 20%;
}
.table_01__row li:nth-child(5) {
  width: 15%;
}
.table_01__row li span {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.status_active {
  color: #00C383 !important;
}

.status_used {
  color: #FBB03B !important;
}

@media (max-width: 768px) {
  .balance_01 {
    margin-bottom: 15px;
  }
  .balance_01__head {
    padding: 5px 8px;
  }
  .balance_01__head li span {
    font-size: 15px;
    line-height: 19px;
  }
  .balance_01__body {
    padding: 8px 8px;
  }
  .balance_01__body li span {
    font-size: 16px;
    line-height: 20px;
  }

  .table_01_wrapp {
    overflow-x: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }
  .table_01_wrapp::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .table_01 {
    margin-top: 8px;
    min-width: 390px;
  }
  .table_01__head {
    border-top: 3px solid #1E2340;
    padding: 7px 8px;
    margin-bottom: 0px;
  }
  .table_01__head li:nth-child(1) {
    width: 15%;
  }
  .table_01__head li:nth-child(2) {
    width: 25%;
  }
  .table_01__head li:nth-child(3) {
    width: 25%;
  }
  .table_01__head li:nth-child(4) {
    width: 20%;
  }
  .table_01__head li:nth-child(5) {
    width: 15%;
  }
  .table_01__head li span {
    font-size: 12px;
    line-height: 15px;
  }
  .table_01__row {
    padding: 7px 8px;
    background: #1E2340;
    border-radius: 5px;
  }
  .table_01__row li:nth-child(1) {
    width: 15%;
  }
  .table_01__row li:nth-child(2) {
    width: 25%;
  }
  .table_01__row li:nth-child(3) {
    width: 25%;
  }
  .table_01__row li:nth-child(4) {
    width: 20%;
  }
  .table_01__row li:nth-child(5) {
    width: 15%;
  }
  .table_01__row li span {
    font-size: 12px;
    line-height: 15px;
  }
}
.pay_system {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pay_system__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}
.pay_system__item {
  background: #252C4B;
  border-radius: 10px;
  height: 120px;
  width: 23.17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  padding: 15px;
  margin-bottom: 20px;
  margin-right: 2.43%;
  cursor: pointer;
  border: 1px solid #252C4B;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}


.deposit-amount {
    font-size: 2em;
    width: 300px;
    color: #7c7c7c;
}

.deposit-amount:hover{
    color: #DDDDDD;
}

.pay_system__item img {
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
}
.pay_system__item span {
  margin-top: 10px;
}
.pay_system__item:nth-child(4n) {
  margin-right: 0;
}
.pay_system__item:hover {
  border: 1px solid #D50000;
}
.pay_system .pay_system__item__active {
  border: 1px solid #D50000;
}

.deposit-pg .bonuses_page__baner {
  width: 49%;
}
.deposit-pg .bonuses_page__baner:nth-child(2) {
  margin-right: 0;
}
@media (max-width: 992px) {
  .deposit-pg .bonuses_page__baner {
    width: 48.8%;
  }
}
@media (max-width: 768px) {
  .deposit-pg .bonuses_page__list {
    display: none;
  }
}

@media (max-width: 768px) {
  .pay_system__wrapper {
    margin-top: 15px;
  }
  .pay_system__item {
    width: 48%;
    max-height: 98px;
    margin-bottom: 15px;
  }
  .pay_system__item img {
    max-width: 85%;
  }
  .pay_system__item:nth-child(odd) {
    margin-right: 4% !important;
  }
  .pay_system__item:nth-child(2n) {
    margin-right: 0;
  }
  .pay_system__item:nth-child(3n) {
    margin-right: 0;
  }
  .pay_system__item:nth-child(4n) {
    margin-right: 0;
  }
  .pay_system__item span {
    font-size: 12px;
    line-height: 15px;
  }
}
.bank-transfer_pg {
  background: #353F4B;
  border: 2px solid #00C181;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 28px 30px 56px 30px;
  margin-bottom: 20px;
}
.bank-transfer_pg__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  color: #FFFFFF;
}
.bank-transfer_pg__txt {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.bank-transfer_pg__txt strong {
  font-weight: bold;
}
.bank-transfer_pg__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.bank-transfer_pg__item {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #586370;
  border-radius: 10px;
  width: 33.33%;
  margin-right: 20px;
}
.bank-transfer_pg__item:last-child {
  margin-right: 0;
}
.bank-transfer_pg__prc {
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 140%;
  color: #FFFFFF;
}
.bank-transfer_pg__pay {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, right top, from(#00C181), to(#009664));
  background: linear-gradient(90deg, #00C181 0%, #009664 100%);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 193, 129, 0.8);
          box-shadow: 0px 0px 20px rgba(0, 193, 129, 0.8);
  border-radius: 5px;
  height: 43px;
  width: 95%;
  margin-top: 8px;
  margin-bottom: 13px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.bank-transfer_pg__pay:hover {
  background: -webkit-gradient(linear, left top, right top, from(#03d28d), to(#04b076));
  background: linear-gradient(90deg, #03d28d 0%, #04b076 100%);
}
.bank-transfer_pg__cancel {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  color: #FFFFFF;
  background-image: -webkit-gradient(linear, left top, right top, from(#FF2929), color-stop(99.99%, #C10202), to(#960000));
  background-image: linear-gradient(90deg, #FF2929 0%, #C10202 99.99%, #960000 100%);
  -webkit-box-shadow: 0px 0px 20px rgba(255, 41, 41, 0.8);
          box-shadow: 0px 0px 20px rgba(255, 41, 41, 0.8);
  border-radius: 5px;
  height: 43px;
  width: 95%;
  max-width: 95%;
  margin-top: 8px;
  margin-bottom: 13px;
  padding: 3px;
}
.bank-transfer_pg__cancel:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#f70d0d), color-stop(99.99%, #b10202), to(#800101));
  background-image: linear-gradient(90deg, #f70d0d 0%, #b10202 99.99%, #800101 100%);
}
.bank-transfer_pg__p_3 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  text-align: center;
}
.bank-transfer_pg .bt-pg-flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 768px) {
  .bank-transfer_pg {
    padding: 20px 15px 25px 25px;
  }
  .bank-transfer_pg__title {
    font-size: 15px;
    line-height: 140%;
  }
  .bank-transfer_pg__txt {
    font-size: 15px;
    line-height: 140%;
    margin-bottom: 15px;
  }
  .bank-transfer_pg__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .bank-transfer_pg__item {
    margin-right: 0;
    width: 100%;
    margin-bottom: 10px;
    padding: 15px 20px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .bank-transfer_pg__item:last-child {
    margin-bottom: 0;
  }
  .bank-transfer_pg__prc {
    font-size: 30px;
    line-height: 140%;
  }
  .bank-transfer_pg__pay {
    height: 40px;
    min-width: 140px;
    width: 140px;
    font-size: 14px;
    line-height: 17px;
  }
  .bank-transfer_pg__cancel {
    height: 40px;
    min-width: 140px;
    width: 140px;
    font-size: 14px;
    line-height: 17px;
  }
  .bank-transfer_pg__p_3 {
    font-size: 12px;
    line-height: 140%;
    text-align: left;
  }
  .bank-transfer_pg .bt-pg-flx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bank-transfer_pg .bt-pg-flx .bank-transfer_pg__prc {
    width: 50%;
  }
}
.tax-pg .bank-transfer_pg {
  padding: 28px 30px 46px 40px;
}

.ppay_tax {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, right top, from(#00C181), to(#009664));
  background: linear-gradient(90deg, #00C181 0%, #009664 100%);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 193, 129, 0.8);
          box-shadow: 0px 0px 20px rgba(0, 193, 129, 0.8);
  border-radius: 5px;
  width: 100%;
  height: 60px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.ppay_tax:hover {
  background: -webkit-gradient(linear, left top, right top, from(#03d28d), to(#04b076));
  background: linear-gradient(90deg, #03d28d 0%, #04b076 100%);
}

.form_req_withdraw {
  max-width: 464px;
  margin: 0 auto;
  text-align: center;
}
.form_req_withdraw__paymeth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 17px;
  margin-bottom: 19px;
}
.form_req_withdraw__paymeth img {
  max-height: 50px;
  max-width: 150px;
  margin-bottom: 15px;
}
.form_req_withdraw__paymeth span {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}
.form_req_withdraw__submit {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, right top, from(#CA0468), to(#FE2739));
  background: linear-gradient(90deg, #CA0468 0%, #FE2739 100%);
  -webkit-box-shadow: 0px 0px 20px rgba(250, 36, 60, 0.8);
          box-shadow: 0px 0px 20px rgba(250, 36, 60, 0.8);
  border-radius: 5px;
  width: 100%;
  height: 54px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  margin-top: 15px;
  margin-bottom: 30px;
}
.form_req_withdraw__submit:hover {
  background: -webkit-gradient(linear, left top, right top, color-stop(99.99%, #FE2739), to(#CA0468));
  background: linear-gradient(90deg, #FE2739 99.99%, #CA0468 100%);
  -webkit-box-shadow: 0px 0px 20px #FA243C;
          box-shadow: 0px 0px 20px #FA243C;
  border-radius: 5px;
}

.input_0_1 {
  background: #3D3D3D;
  border: 1px solid #3D3D3D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #8E8E8E;
  padding: 16px 25px;
  width: 100%;
  margin-bottom: 15px;
}

.txt_8_9 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #EAE7D6;
  text-align: left;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .tax-pg .bank-transfer_pg {
    padding: 20px 15px 25px 15px;
  }

  .ppay_tax {
    font-size: 16px;
    line-height: 21px;
  }

  .form_req_withdraw__paymeth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 17px;
    margin-bottom: 19px;
  }
  .form_req_withdraw__paymeth img {
    max-height: 43px;
    max-width: 110px;
    margin-bottom: 15px;
  }
  .form_req_withdraw__paymeth span {
    font-size: 14px;
    line-height: 20px;
  }
  .form_req_withdraw__submit {
    margin-bottom: 15px;
  }
  .form_req_withdraw .txt_8_9 {
    font-size: 14px;
    line-height: 18px;
  }
}
.table_01_02 {
  margin-top: 0px;
}
.table_01_02 .table_01__head {
  border-top: none;
  border-bottom: 3px solid #1E2340;
  margin-bottom: 15px;
}
.table_01_02 .table_01__head li:nth-child(1) {
  width: 15%;
}
.table_01_02 .table_01__head li:nth-child(2) {
  width: 20%;
}
.table_01_02 .table_01__head li:nth-child(3) {
  width: 25%;
}
.table_01_02 .table_01__head li:nth-child(4) {
  width: 20%;
}
.table_01_02 .table_01__head li:nth-child(5) {
  width: 10%;
}
.table_01_02 .table_01__row li:nth-child(1) {
  width: 15%;
}
.table_01_02 .table_01__row li:nth-child(2) {
  width: 20%;
}
.table_01_02 .table_01__row li:nth-child(3) {
  width: 25%;
}
.table_01_02 .table_01__row li:nth-child(4) {
  width: 20%;
}
.table_01_02 .table_01__row li:nth-child(5) {
  width: 20%;
}

.status_done {
  color: #00C383 !important;
}

.status_cancel {
  color: #F62240 !important;
}

.status_pending {
  color: #FBB03B !important;
}

@media (max-width: 768px) {
  .table_01_02 {
    min-width: 480px !important;
  }
}
.games_history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
.games_history .account_main__wrapper {
  border-radius: 0 5px 5px 5px;
}
.games_history__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #1A1F38;
  border: 1px solid #1A1F38;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px 10px 0px 0px;
  max-width: 525px;
  padding: 5px 6px;
}
.games_history__tab_btn {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #8E8E8E;
  padding: 10px 25px;
}
.games_history__tab_btn_active {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, right top, from(#CA0468), to(#FE2739));
  background: linear-gradient(90deg, #CA0468 0%, #FE2739 100%);
  border-radius: 10px;
  width: 228px;
  height: 43px;
  padding: 0;
}
.games_history .table_01_02 .table_01__head li:nth-child(1) {
  width: 14%;
}
.games_history .table_01_02 .table_01__head li:nth-child(2) {
  width: 19.2%;
}
.games_history .table_01_02 .table_01__head li:nth-child(3) {
  width: 16.6%;
}
.games_history .table_01_02 .table_01__head li:nth-child(4) {
  width: 16.6%;
}
.games_history .table_01_02 .table_01__head li:nth-child(5) {
  width: 16.6%;
}
.games_history .table_01_02 .table_01__head li:nth-child(6) {
  width: 16.6%;
}
.games_history .table_01_02 .table_01__row li:nth-child(1) {
  width: 14%;
}
.games_history .table_01_02 .table_01__row li:nth-child(2) {
  width: 19.2%;
}
.games_history .table_01_02 .table_01__row li:nth-child(3) {
  width: 16.6%;
}
.games_history .table_01_02 .table_01__row li:nth-child(4) {
  width: 16.6%;
}
.games_history .table_01_02 .table_01__row li:nth-child(5) {
  width: 16.6%;
}
.games_history .table_01_02 .table_01__row li:nth-child(6) {
  width: 16.6%;
}

.status_increased {
  color: #00C383 !important;
}

.status_decrase {
  color: #F62240 !important;
}

.content-hide {
  display: none;
}

.content-show {
  display: block;
}

@media (max-width: 768px) {
  .games_history .account_main__wrapper {
    padding: 10px 7px 7px 7px;
  }
  .games_history__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: #1A1F38;
    border: 1px solid #1A1F38;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    padding: 5px 6px;
  }
  .games_history__tab_btn {
    font-size: 13px;
    line-height: 18px;
    padding: 5px;
    width: 50% !important;
    margin-right: 5px;
  }
  .games_history__tab_btn_active {
    font-size: 13px;
    line-height: 18px;
    width: 50% !important;
    height: 42px;
  }
}
.account-settings .account_main__wrapper {
  padding: 30px 30px 10px 30px;
}
.account-settings__title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.account-settings__password {
  margin-top: 40px;
  margin-bottom: 20px;
}
.account-settings__password .account-settings__title {
  margin-bottom: 10px;
}
.account-settings__info {
  margin-bottom: 40px;
}
.account-settings__info .account-settings__title {
  margin-bottom: 10px;
}
.account-settings__info .select_1_wrapp {
  width: 33.33%;
  margin-right: 20px;
  margin-bottom: 20px;
}
.account-settings__info .select_1_wrapp:last-child {
  margin-right: 0;
}
.account-settings .i_input_0_4 {
  margin-bottom: 20px;
}

.min-sec3_1 {
  margin-bottom: 15px;
}
.min-sec3_1__title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  display: inline-block;
  margin-bottom: 5px;
}
.min-sec3_1__it {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.min-sec3_1__it p {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}
.min-sec3_1__it .edit-0-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  cursor: pointer;
}
.min-sec3_1__it .edit-0-1:hover span {
  color: #02ac73;
  border-bottom: none !important;
}
.min-sec3_1__it .edit-0-1:hover i {
  background-color: #02ac73;
}
.min-sec3_1__it i {
  display: block;
  -webkit-mask-image: url(/img/icons/editgrn.svg);
          mask-image: url(/img/icons/editgrn.svg);
  background-color: #00C181;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center left;
          mask-position: center left;
  width: 18px;
  height: 18px;
  margin-right: 6px;
}
.min-sec3_1__it span {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #00C181;
  border-bottom: 1px dashed #00C181;
}

.f_flx_0_4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.f_flx_0_5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.f_flx_0_5 .i_input_0_4 {
  margin-right: 20px;
  width: 50%;
}
.f_flx_0_5 .i_input_0_4:last-child {
  margin-right: 0;
}
.f_flx_0_5 .s_submit_1 {
  width: 50%;
}

.i_input_0_4 {
  background: #3D3D3D;
  border: 1px solid #3D3D3D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 16px 25px;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #8E8E8E;
}

.select_1_wrapp {
  display: block;
  position: relative;
  background: #3D3D3D;
  border: 1px solid #3D3D3D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}
.select_1_wrapp::after {
  content: "";
  display: block;
  position: absolute;
  right: 8%;
  top: 40%;
  z-index: 1;
  width: 12px;
  height: 12px;
  background-image: url(/img/icons/arrow-3.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.select_1 {
  border: none;
  background: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  padding: 16px 25px;
  line-height: 20px;
  color: #8E8E8E;
  width: 100%;
  padding-right: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.select_1 option {
  background: #3D3D3D;
}

.s_submit_1 {
  background: #00C181;
  border-radius: 5px;
  height: 54px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.s_submit_1:hover {
  background: #02ac73;
}

@media (max-width: 768px) {
  .account-settings .account_main__wrapper {
    padding: 20px 15px;
  }

  .f_flx_0_5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .f_flx_0_5 .i_input_0_4 {
    width: 100%;
  }
  .f_flx_0_5 .s_submit_1 {
    width: 100%;
  }

  .f_flx_0_4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .f_flx_0_4 .select_1_wrapp {
    width: 100%;
    margin-bottom: 10px;
  }
  .f_flx_0_4 .select_1 {
    padding: 16px 16px;
  }

  .i_input_0_4 {
    padding: 16px 16px;
    margin-right: 0;
    margin-bottom: 10px !important;
  }

  .s_submit_1 {
    font-size: 16px;
    line-height: 18px;
  }
}

.main_nav__link{
    font-size: 16px !important;
}

.tickets {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 14px;
    line-height: 1.42857143;
    color: #b2b2b2;
    font-family: Verdana, Geneva, Arial, sans-serif;
    box-sizing: border-box;
    margin-top: 40px;
}

.tickets .ticket {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 14px;
    line-height: 1.42857143;
    color: #b2b2b2;
    font-family: Verdana, Geneva, Arial, sans-serif;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #bce8f1;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.ticket .ticket-heading {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 14px;
    line-height: 1.42857143;
    font-family: Verdana, Geneva, Arial, sans-serif;
    box-sizing: border-box;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    background-image: linear-gradient(to bottom,#d9edf7 0,#c4e3f3 100%);
    background-repeat: repeat-x;
}

.ticket-heading .date {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 14px;
    line-height: 1.42857143;
    font-family: Verdana, Geneva, Arial, sans-serif;
    color: #31708f;
    box-sizing: border-box;
}

.ticket-body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 14px;
    line-height: 1.42857143;
    color: #b2b2b2;
    font-family: Verdana, Geneva, Arial, sans-serif;
    box-sizing: border-box;
    text-align: left;
    padding: 15px;
}

.mt-1em {
    margin-top: 1em;
}

.mt-2em {
    margin-top: 2em;
}

.mt-3em {
    margin-top: 3em;
}

.text-white {
    color: #ddd;
}

.text-center {
    text-align: center !important;
}

.font-1em {
    font-size: 1em;
}

.font-2em{
    font-size: 2em;
}
