{if isset($m)}		

<div class="refill-details">
								<div class="block">
<p><center>{$lang['enter_confirm']} <b>{$oa}</b> {$lang['enter_cur']}</center><br></p>
									<div class="center">
<form id="fk" method="get"  action="http://www.free-kassa.ru/merchant/cash.php">	
        <input type="hidden" name="m" value="{$m}"/>
        <input type="hidden" name="oa" value="{$oa}" />
        <input type="hidden" name="s" value="{$s}" />
        <input type="hidden" name="o" value="{$o}" />
</form>

                    
                    {*<a class="btn-blue" href="#" onclick="fk.submit();return false;">{$lang['button_OK']}</a>*}
									</div>
								</div>
							</div>
              
<script>                
$(document).ready(function(){
  $("#fk").submit();
});
</script>

{else if !isset($system)}
        <h2>Freekassa</h2>
        <div class="userForm">
            <form id= "fk" method="POST" action="/enter?action=send&system=fk">

                <div class="label grid_2">{$lang['enter_SUM_ENTER']}:</div>
                <div class="field grid_3">
                    <input type="text" name="money" value="{$config['enter_from']}">
                </div>
                <div class="clear"></div>

                <a tabindex="" onclick="$(this).parents('form').submit()" class="n_btn btn_green" href="#">
                    <span><i class="ref-iconcheckmark"></i>{$lang['button_PAY']}</span>
                </a>
            </form>
        </div>
{/if}		

