@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tpyww4');
  src:  url('fonts/icomoon.eot?tpyww4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tpyww4') format('truetype'),
    url('fonts/icomoon.woff?tpyww4') format('woff'),
    url('fonts/icomoon.svg?tpyww4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic-1:before {
  content: "\e900";
  color: #888;
}
.icon-ic-7:before {
  content: "\e901";
  color: #888;
}

.icon-ic-6:before {
  content: "\e902";
  color: #888;
}
.icon-ic-5:before {
  content: "\e903";
  color: #888;
}
.icon-ic-2:before {
  content: "\e904";
  color: #888;
}
.icon-ic-3:before {
  content: "\e905";
  color: #888;
}
.icon-ic-4:before {
  content: "\e906";
  color: #888;
}
