{if $config['use_blocks']}
{if $login}



{else}
<div class="main-banner" id="banner-slider">
							<ul class="slideset">
								<li>
									<img src="{$theme_url}/promo/0.jpg" width="900" height="190" alt="" />
								</li>
								<li>
									<img src="{$theme_url}/promo/1.jpg" width="900" height="190" alt="" />
								</li>
								<li>
									<img src="{$theme_url}/promo/2.jpg" width="900" height="190" alt="" />
								</li>
								<li>
									<img src="{$theme_url}/promo/3.jpg" width="900" height="190" alt="" />
								</li>
								<li>
									<img src="{$theme_url}/promo/4.jpg" width="900" height="190" alt="" />
								</li>
								<li>
									<img src="{$theme_url}/promo/5.jpg" width="900" height="190" alt="" />
								</li>
								<li>
									<img src="{$theme_url}/promo/6.jpg" width="900" height="190" alt="" />
								</li>
								<li>
									<img src="{$theme_url}/promo/7.jpg" width="900" height="190" alt="" />
								</li>								
							</ul>
							<script type="text/javascript">
								$(document).ready(function(){
									$("#banner-slider .slideset").owlCarousel({
										items:1,
										loop:true,
										autoplay:true,
										autoplayTimeout:5000,
										autoplayHoverPause:true
									});
								});
							</script>
</div> 
{/if}
{/if}
          {* Блок игр на главной *}  
          <div class="games-list">
          {if isset($game_block1)}    
          {foreach $game_block1 as $game} 
            <div class="item">
								<img src="{$theme_url}/ico/{$game.g_name}.png" width="165" height="130" alt=""/>
								<div class="buttons">
									<a class="btn-green" href="/games/{$game.g_path}/{$game.g_name}/">{$lang['button_REAL']}!</a>
									
								</div>
			      </div>
          {/foreach}
          {/if} 
          </div>		  