input:-webkit-autofill{-webkit-box-shadow:0 0 0 50px #000 inset;-webkit-text-fill-color:#FFF;-webkit-autofill:#333;border:1px solid #333!important}
input:-webkit-autofill:focus{border:1px solid #666!important}
.ref_modal input:-webkit-autofill{-webkit-box-shadow:0 0 0 50px #0B220E inset!important;-webkit-text-fill-color:#FFF;border:1px solid #063D00!important;text-shadow:0 0}
.ref_modal input:-webkit-autofill:focus{border:1px solid #165409!important}
.ref_labels:after{content:'';background-color:#192C1A;display:block;width:100%;height:100%;position:absolute;top:0;z-index:-1;left:0}
:-webkit-input-placeholder{color:transparent}
#loader{text-align:center;position:fixed;left:50%;margin-left:-125px;top:50%;margin-top:-75px;color:#FFF;z-index:16000006}
#overl{width:100%;height:100%;background:rgba(0,0,0,0.85);z-index:16000005;position:fixed}
.r_an{-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear}
.r-ani{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.r-ani.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
.r-ani.woop{-webkit-animation-duration:.3s;animation-duration:.3s}
.r-ani.woop5{-webkit-animation-duration:.5s;animation-duration:.5s}
.r-ani.wooop{-webkit-animation-duration:.1s;animation-duration:.1s}
.r-ani.sec2{-webkit-animation-duration:2s;animation-duration:2s}
.r-ani.sec3{-webkit-animation-duration:3s;animation-duration:3s}
@-webkit-keyframes bounce {
    0%,100%,20%,50%,80%{-webkit-transform:translateY(0);transform:translateY(0)}
    40%{-webkit-transform:translateY(-30px);transform:translateY(-30px)}
    60%{-webkit-transform:translateY(-15px);transform:translateY(-15px)}
}
@keyframes bounce {
    0%,100%,20%,50%,80%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
    40%{-webkit-transform:translateY(-30px);-ms-transform:translateY(-30px);transform:translateY(-30px)}
    60%{-webkit-transform:translateY(-15px);-ms-transform:translateY(-15px);transform:translateY(-15px)}
}
.bounce{-webkit-animation-name:bounce;animation-name:bounce}
@-webkit-keyframes flash {
    0%,100%,50%{opacity:1}
    25%,75%{opacity:0}
}
@keyframes flash {
    0%,100%,50%{opacity:1}
    25%,75%{opacity:0}
}
.flash{-webkit-animation-name:flash;animation-name:flash}
@-webkit-keyframes pulse {
    0%{-webkit-transform:scale(1);transform:scale(1)}
    50%{-webkit-transform:scale(1.1);transform:scale(1.1)}
    100%{-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes pulse {
    0%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
    50%{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
    100%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
}
.pulse{-webkit-animation-name:pulse;animation-name:pulse}
@-webkit-keyframes shake {
    0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}
    10%,30%,50%,70%,90%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}
    20%,40%,60%,80%{-webkit-transform:translateX(10px);transform:translateX(10px)}
}
@keyframes shake {
    0%,100%{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
    10%,30%,50%,70%,90%{-webkit-transform:translateX(-10px);-ms-transform:translateX(-10px);transform:translateX(-10px)}
    20%,40%,60%,80%{-webkit-transform:translateX(10px);-ms-transform:translateX(10px);transform:translateX(10px)}
}
.shake{-webkit-animation-name:shake;animation-name:shake}
@-webkit-keyframes zoomIn {
    0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}
    50%{opacity:1}
}
@keyframes zoomIn {
    0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}
    50%{opacity:1}
}
.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}
@-webkit-keyframes zoomOut {
    0%{opacity:1}
    50%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}
    100%{opacity:0}
}
@keyframes zoomOut {
    0%{opacity:1}
    50%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}
    100%{opacity:0}
}
.zoomOut{-webkit-animation-name:zoomOut;animation-name:zoomOut}
@-webkit-keyframes bounceIn {
    0%,20%,40%,60%,80%,100%{-webkit-transition-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);transition-timing-function:cubic-bezier(0.215,0.610,0.355,1.000)}
    0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}
    20%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}
    40%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}
    60%{opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03);transform:scale3d(1.03,1.03,1.03)}
    80%{-webkit-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97)}
    100%{opacity:1;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
}
@keyframes bounceIn {
    0%,20%,40%,60%,80%,100%{-webkit-transition-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);transition-timing-function:cubic-bezier(0.215,0.610,0.355,1.000)}
    0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}
    20%{-webkit-transform:scale3d(1.1,1.1,1.1);transform:scale3d(1.1,1.1,1.1)}
    40%{-webkit-transform:scale3d(.9,.9,.9);transform:scale3d(.9,.9,.9)}
    60%{opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03);transform:scale3d(1.03,1.03,1.03)}
    80%{-webkit-transform:scale3d(.97,.97,.97);transform:scale3d(.97,.97,.97)}
    100%{opacity:1;-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}
}
.bounceIn{-webkit-animation-name:bounceIn;animation-name:bounceIn;-webkit-animation-duration:.75s;animation-duration:.75s}
@-webkit-keyframes blip1 {
    to{-webkit-transform:scale(2);transform:scale(2);opacity:0}
}
@keyframes blip1 {
    to{-webkit-transform:scale(2);transform:scale(2);opacity:0}
}
@-webkit-keyframes blip2 {
    to{-webkit-transform:scale(1);transform:scale(1);opacity:0}
}
@keyframes blip2 {
    to{-webkit-transform:scale(1);transform:scale(1);opacity:0}
}
@-webkit-keyframes fadeInUp {
    0%{opacity:0;-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
    100%{opacity:1;-webkit-transform:none;transform:none}
}
@keyframes fadeInUp {
    0%{opacity:0;-webkit-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}
    100%{opacity:1;-webkit-transform:none;-ms-transform:none;transform:none}
}
.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}
#visibleOverlay{position:absolute;z-index:200;top:0;left:0;display:none;width:100%;height:100%;opacity:.8;background:none 0 0 repeat scroll #000}
#overl{width:100%;height:100%;z-index:16000005;position:fixed;display:block;top:0;left:0;background:rgba(0,0,0,0.85098)}
#loader{text-align:center;position:fixed;left:50%;margin-left:-125px;top:50%;margin-top:-75px;color:#fff;z-index:16000006}
#spinningSquaresG{position:relative;margin-top:15px;width:250px;height:30px}
.spinningSquaresG{position:absolute;top:0;background-color:#00A800;width:30px;height:30px;-moz-animation-name:bounce_spinningSquaresG;-moz-animation-duration:1s;-moz-animation-iteration-count:infinite;-moz-animation-direction:linear;-moz-transform:scale(.3);-webkit-animation-name:bounce_spinningSquaresG;-webkit-animation-duration:1s;-webkit-animation-iteration-count:infinite;-webkit-animation-direction:linear;-webkit-transform:scale(.3);-ms-animation-name:bounce_spinningSquaresG;-ms-animation-duration:1s;-ms-animation-iteration-count:infinite;-ms-animation-direction:linear;-ms-transform:scale(.3);-o-animation-name:bounce_spinningSquaresG;-o-animation-duration:1s;-o-animation-iteration-count:infinite;-o-animation-direction:linear;-o-transform:scale(.3);animation-name:bounce_spinningSquaresG;animation-duration:1s;animation-iteration-count:infinite;animation-direction:linear;transform:scale(.3)}
#spinningSquaresG_1{left:0;-moz-animation-delay:.1s;-webkit-animation-delay:.1s;-ms-animation-delay:.1s;-o-animation-delay:.1s;animation-delay:.1s}
#spinningSquaresG_2{left:31px;-moz-animation-delay:.5s;-webkit-animation-delay:.5s;-ms-animation-delay:.5s;-o-animation-delay:.5s;animation-delay:.5s}
#spinningSquaresG_3{left:63px;-moz-animation-delay:.6s;-webkit-animation-delay:.6s;-ms-animation-delay:.6s;-o-animation-delay:.6s;animation-delay:.6s}
#spinningSquaresG_4{left:94px;-moz-animation-delay:.7s;-webkit-animation-delay:.7s;-ms-animation-delay:.7s;-o-animation-delay:.7s;animation-delay:.7s}
#spinningSquaresG_5{left:125px;-moz-animation-delay:.8s;-webkit-animation-delay:.8s;-ms-animation-delay:.8s;-o-animation-delay:.8s;animation-delay:.8s}
#spinningSquaresG_6{left:156px;-moz-animation-delay:.9s;-webkit-animation-delay:.9s;-ms-animation-delay:.9s;-o-animation-delay:.9s;animation-delay:.9s}
#spinningSquaresG_7{left:188px;-moz-animation-delay:1s;-webkit-animation-delay:1s;-ms-animation-delay:1s;-o-animation-delay:1s;animation-delay:1s}
#spinningSquaresG_8{left:219px;-moz-animation-delay:1.1s;-webkit-animation-delay:1.1s;-ms-animation-delay:1.1s;-o-animation-delay:1.1s;animation-delay:1.1s}
@-moz-keyframes bounce_spinningSquaresG {
    0%{-moz-transform:scale(1);background-color:#00A800}
    100%{-moz-transform:scale(.3) rotate(90deg);background-color:#080808}
}
@-webkit-keyframes bounce_spinningSquaresG {
    0%{-webkit-transform:scale(1);background-color:#00A800}
    100%{-webkit-transform:scale(.3) rotate(90deg);background-color:#080808}
}
@-ms-keyframes bounce_spinningSquaresG {
    0%{-ms-transform:scale(1);background-color:#00A800}
    100%{-ms-transform:scale(.3) rotate(90deg);background-color:#080808}
}
@-o-keyframes bounce_spinningSquaresG {
    0%{-o-transform:scale(1);background-color:#00A800}
    100%{-o-transform:scale(.3) rotate(90deg);background-color:#080808}
}
@keyframes bounce_spinningSquaresG {
    0%{transform:scale(1);background-color:#00A800}
    100%{transform:scale(.3) rotate(90deg);background-color:#080808}
}