.list *::after, .list *::before {
  content: "";
  display: none;
}

.list > .item .tournir-info > * {
  white-space: normal;
}

.list a{
  color: #fff;
}

.list > .item {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #28624a;
  padding: 20px 0 10px;
  white-space: nowrap;
  width: 828px;
  margin: 0 auto;
}

.list > .item .left-block {
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
  white-space: normal;
  width: 236px;
}


.list > .item .left-block .pic {
  border: 1px solid #549296;
  display: block;
  padding: 2px;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 230px;
  height: 230px;
}

.list > .item .left-block .pic .counter {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  bottom: 2px;
  display: block;
  height: 85px;
  left: 2px;
  position: absolute;
  right: 2px;
  text-align: center;
  z-index: 100;
}

.list > .item .left-block .pic .counter .title{
  color: #c5e1eb;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  text-transform: uppercase;
  float: none;
  padding: 0;
  text-shadow: none;
}
}

.list > .item .left-block .pic .counter .counter-enview{
  white-space: nowrap;
}

.list > .item .left-block .pic .counter .counter-enview .item:first-child::before{
  display: none;
}

.list > .item .left-block .pic .counter .counter-enview .item::before{
  color: #67ccd3;
  content: ":";
  display: block;
  font-size: 18px;
  height: 52px;
  left: -8px;
  line-height: 52px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 8px;
}

.list > .item .left-block .pic .counter .counter-enview .item:first-child {
  margin: 0;
}

.list > .item .left-block .pic .counter .counter-enview .item{
  display: inline-block;
  margin-left: 8px;
  position: relative;
  vertical-align: top;
  width: 48px;
}

.list > .item .left-block .pic .counter .counter-enview .item .num{
  background: url("../images/cell-pattern-ee72483c023914b9bd2eacb795bf68a8.png") repeat scroll 0 0%, rgba(0, 0, 0, 0) -moz-linear-gradient(center bottom , #5bb3ac 0px, #5bb3ac 1%, #062f41 59%, #125d7c 100%) repeat scroll 0 0;
  box-shadow: 0 0 2px rgba(244, 244, 244, 0.13) inset, 0 0 2px rgba(244, 244, 244, 0.13) inset, 0 -5px 0 0 rgba(11, 135, 12, 0.2) inset, 0 0 3px rgba(101, 197, 247, 0.75) inset, 0 0 3px rgba(101, 197, 247, 0.75) inset, 0 1px 8px rgba(86, 190, 230, 0.51) inset;
  color: #fff;
  display: block;
  font-size: 32px;
  font-weight: 700;
  height: 52px;
  line-height: 52px;
  overflow: hidden;
  position: relative;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}

.list > .item .left-block .pic .counter .counter-enview .item .num .flipper.left{
  left: 5px;
}

.list > .item .left-block .pic .counter .counter-enview .item .num .flipper{
  bottom: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 40%;
}

.list > .item .left-block .pic .counter .counter-enview .item .num .flipper.right{
  right: 5px;
}

.list > .item .left-block .pic .counter .counter-enview .item .num .flipper{
  bottom: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 40%;
}

.list > .item .left-block .pic .counter .counter-enview .item .count-label{
  color: #c5e1eb;
  font-size: 10px;
  height: 20px;
  line-height: 26px;
}

.list > .item .tournir-info{
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  width: 572px;
}

.list > .item .tournir-info .center-block{
  display: inline-block;
  padding: 0 10px;
  text-align: center;
  vertical-align: top;
  width: 342px;
}

.list > .item .tournir-info .right-block{
  border-left: 1px solid #000;
  box-shadow: -1px 0 0 0 #28624a;
  display: inline-block;
  padding-left: 10px;
  padding-top: 10px;
  text-align: center;
  vertical-align: top;
  width: 199px;
  height: 181px;
}

.list > .item .tournir-info .gallery{
  padding: 0 50px;
  position: relative;
  top: -20px;
  z-index: 100;
}

.list > .item.live .tournir-info .center-block > header::before{
  background-position: 0 0;
  color: #00ff3c;
  content: "Проходит сейчас";
  padding-top: 10px;
}

.list > .item.soon .tournir-info .center-block > header::before {
  background-position: 0 112px;
  color: #fffaaa;
  content: "Скоро";
  line-height: 32px;
}

.list > .item .tournir-info .center-block > header{
  margin-bottom: 15px;
  min-height: 49px;
  padding-left: 143px;
  padding-top: 10px;
  position: relative;
  text-align: left;
}

.list > .item .tournir-info .center-block > header::before{
  background: rgba(0, 0, 0, 0) url("../images/labels-14a660e43e248c5a4d7a379266167d5e.png") repeat scroll 0 0;
  display: block;
  font-size: 14px;
  height: 44px;
  left: -20px;
  line-height: 2em;
  padding: 12px 23px 0;
  position: absolute;
  text-align: center;
  top: -3px;
  width: 100px;
  z-index: 100;
}

.list > .item .tournir-info .center-block > header a{
  color: #67ccd3;
  display: table-cell;
  font-size: 18px;
  font-weight: 700;
  height: 49px;
  line-height: 1.1em;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
}

.list > .item .tournir-info .center-block .date{
  font-size: 12px;
  font-style: italic;
  margin-bottom: 12px;
}

.list > .item .tournir-info .center-block .discipline {
  margin-bottom: 20px;
}

.list > .item .tournir-info .center-block .buttons {
  position: relative;
  z-index: 100;
}

.btn-green1::after {
  border-left: 1px solid #76a117;
  box-shadow: 1px 0 0 0 #acdf1f inset;
}

.btn-green1::after{
  background: rgba(0, 0, 0, 0) url("../images/btn-icons-76dc1b9392d0358afa90ed7087dc6b86.png") repeat scroll 0 -320px;
  border-radius: 0 3px 3px 0;
  bottom: 0;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 43px;
  height: 40px;
}

.list > .item .tournir-info .center-block .buttons .btn-more, .champ-list .block-bg > .list > .item .tournir-info .center-block .buttons .btn-more {
  display: inline-block;
  line-height: 40px;
  width: 180px;
}

.btn-green1 {
  /*background: rgba(0, 0, 0, 0) -moz-linear-gradient(center bottom , #75a017 0px, #ade01f 100%) repeat scroll 0 0;*/
  background: linear-gradient(to bottom ,#ade01f, #75a017, #ade01f);
  box-shadow: 0 0 0 1px #638418;
}

.btn-green1{
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: Arial,Helvetica,"Liberation Sans",sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  padding-right: 44px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(38, 38, 38, 0.42);
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

.list > .item .tournir-info .right-block .prize .title{
  font-size: 14px;
  font-weight: 700;
  height: 37px;
  line-height: 28px;
  text-transform: uppercase;
  float: none;
  padding: 0;
}

.list > .item .tournir-info .right-block .prize .sum{
  display: block;
  font-size: 28px;
  font-weight: 700;
  height: 51px;
  line-height: 51px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0 0 7px rgba(103, 204, 211, 0.35), 0 0 7px rgba(103, 204, 211, 0.35), 0 0 7px rgba(103, 204, 211, 0.35);
  white-space: nowrap;
}

.list > .item .tournir-info .right-block .places{
  margin-top: 17px;
  text-align: center;
  white-space: nowrap;
}

.list > .item .tournir-info .right-block .places .place::before {
  background: rgba(0, 0, 0, 0) url("../images/wreath-icons-c18b1530795124ab4c9f8ad35e47f6a5.png") repeat scroll 0 0;
  display: block;
  height: 28px;
  left: 50%;
  margin-left: -20.5px;
  position: absolute;
  top: 0;
  width: 41px;
}

.list > .item .tournir-info .right-block .places .place{
  display: inline-block;
  margin-left: 1px;
  position: relative;
  text-shadow: 0 0 7px rgba(103, 204, 211, 0.35), 0 0 7px rgba(103, 204, 211, 0.35), 0 0 7px rgba(103, 204, 211, 0.35);
  vertical-align: top;
  width: 69px;
}

.list > .item .tournir-info .right-block .places .place.first::before {
  background-position: 0 0;
}

.list > .item .tournir-info .right-block .places .place.second::before {
  background-position: -41px 0;
}

.list > .item .tournir-info .right-block .places .place.third::before {
  background-position: -82px 0;
}

.list > .item .tournir-info .right-block .places .place .sum{
  font-size: 13px;
  font-weight: 700;
  overflow: hidden;
  padding: 35px 0 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list > .item .tournir-info .gallery .arr::after{
  background: rgba(0, 0, 0, 0) url("../images/arrows-12x23-4ce2a05e8c28fb058120336b0b3a4b1b.png") repeat scroll 0 0;
  display: block;
  height: 23px;
  position: absolute;
  top: 55px;
  width: 12px;
}

.list > .item .tournir-info .gallery .caroufredsel_wrapper{
  padding: 40px 0 20px !important;
  width: 474px !important;
}

.list > .item .tournir-info .gallery .caroufredsel_wrapper .slider{
  overflow: visible !important;
  padding: 0 !important;
  position: relative !important;
  width: 1000% !important;
}

.list > .item .tournir-info .gallery .slider{
  overflow: hidden;
  padding: 40px 0 20px !important;
  text-align: left !important;
  white-space: nowrap;
  width: 474px !important;
  letter-spacing: -4px;
}

.list > .item .tournir-info .gallery .slider .item{
  display: inline-block;
  margin: 0 4px;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: 71px;
}

.list > .item .tournir-info .gallery .arr.prev::after {
  background-position: 0 0;
  right: 5px;
}

.list > .item .tournir-info .gallery .arr::after {
  background: rgba(0, 0, 0, 0) url("../images/arrows-12x23-4ce2a05e8c28fb058120336b0b3a4b1b.png") repeat scroll 0 0;
  display: block;
  height: 23px;
  position: absolute;
  top: 55px;
  width: 12px;
}

.list > .item .tournir-info .gallery .arr.prev{
  left: 0;
}

.list > .item .tournir-info .gallery .arr{
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  bottom: 0;
  display: block;
  position: absolute;
  text-indent: -9999px;
  top: 0;
  width: 33px;
  border: none;
}

label, input[type="checkbox"], input[type="radio"], input[type="submit"], input[type="reset"], button, .checkbox {
  cursor: pointer;
}

.list > .item .tournir-info .gallery .arr.next::after{
  background-position: -12px 0;
  left: 5px;
}

.list > .item .tournir-info .gallery .arr::after{
  background: rgba(0, 0, 0, 0) url("../images/arrows-12x23-4ce2a05e8c28fb058120336b0b3a4b1b.png") repeat scroll 0 0;
  display: block;
  height: 23px;
  position: absolute;
  top: 55px;
  width: 12px;
}

.list > .item .tournir-info .gallery .arr.next{
  right: 0;
}

.list > .item .tournir-info .gallery .pages{
  bottom: -3px;
  display: block;
  height: 10px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

.list > .item .tournir-info .gallery .pages a{
  background: #126b3b none repeat scroll 0 0;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin: 0 5px;
  vertical-align: top;
  width: 10px;
}

.list > .item .tournir-info .gallery .pages a.selected{
  background: #42b477 none repeat scroll 0 0;
}

.list > .item .tournir-info .gallery .pages a:hover{
  background: #4393bd none repeat scroll 0 0;
}

.list > .item .tournir-info .gallery .pages a span{
  display: none;
}

/* header {
  border-bottom: 1px solid #28624a;
  box-shadow: 0 -1px 0 0 #000 inset;
  color: #42b477;
  font-size: 16px;
  font-weight: 700;
  height: 23px;
  line-height: 23px;
  margin-bottom: 10px;
  overflow: hidden;
  padding-bottom: 5px;
  position: relative;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

header h1 {
  color: #67ccd3 !important;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4em;
  margin: 0;
  text-transform: none;
} */

.tabs {
  background: rgba(4, 16, 25, 0.6) none repeat scroll 0 0;
  border-radius: 3px;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.75);
  height: 35px;
  line-height: 0;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}

.tabs .tab.active {
  cursor: default;
}

.tabs .tab {
  border: 1px solid rgba(194, 207, 235, 0.15);
  box-shadow: 0 0 4px rgba(124, 205, 255, 0.26) inset;
  color: #838486;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 33px;
  padding: 1px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  vertical-align: bottom;
  white-space: nowrap;
  width: 50%;
}

.tabs .tab.active a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  font-weight: 700;
}

.tabs .tab a, .tabs .tab span {
  display: block;
  height: 33px;
  line-height: 33px;
  margin: 0 1px;
}

.tabs .tab a {
  background: #3d3d3d none repeat scroll 0 0;
  color: #838486;
  text-decoration: none;
}

.tabs .tab:hover a, .tabs .tab:hover span, .tabs .tab.active a, .tabs .tab.active span {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #fff;
}

.list > .item.end .tournir-info .center-block > header::before{
  background-position: 0 -112px;
  color: #67ccd3;
  content: "Турнир завершен";
}

/*детализация турнира*/

.block-bg.tournir-page{
  text-align: left;
  padding: 10px;
}

.block-bg.tournir-page h1{
  text-align: center;
}


.block-bg.tournir-page .counter {
  margin-bottom: 10px;
  text-align: center;
}

.block-bg.tournir-page .counter .title {
  color: #c5e1eb;
  font-size: 18px;
  height: 36px;
  line-height: 36px;
  text-transform: uppercase;
  float: none;
  padding: 0;
}

.block-bg.tournir-page .counter .counter-enview {
  white-space: nowrap;
}

.block-bg.tournir-page .counter .counter-enview .item:first-child::before {
  display: none;
}

.block-bg.tournir-page .counter .counter-enview .item::before {
  color: #67ccd3;
  content: ":";
  display: block;
  font-size: 30px;
  height: 80px;
  left: -12px;
  line-height: 80px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 12px;
}

.block-bg.tournir-page .counter .counter-enview .item:first-child {
  margin: 0;
}

.block-bg.tournir-page .counter .counter-enview .item {
  display: inline-block;
  margin-left: 12px;
  position: relative;
  vertical-align: top;
  width: 74px;
}

.block-bg.tournir-page .counter .counter-enview .item .num {
  background: url("../images/cell-pattern-ee72483c023914b9bd2eacb795bf68a8.png") repeat scroll 0 0%, rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #5bb3ac 0px, #5bb3ac 1%, #062f41 59%, #125d7c 100%) repeat scroll 0 0;
  box-shadow: 0 0 2px rgba(244, 244, 244, 0.13) inset, 0 0 2px rgba(244, 244, 244, 0.13) inset, 0 -5px 0 0 rgba(11, 135, 12, 0.2) inset, 0 0 3px rgba(101, 197, 247, 0.75) inset, 0 0 3px rgba(101, 197, 247, 0.75) inset, 0 1px 8px rgba(86, 190, 230, 0.51) inset;
  color: #fff;
  display: block;
  font-size: 49px;
  font-weight: 700;
  height: 80px;
  line-height: 80px;
  overflow: hidden;
  position: relative;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}

.block-bg.tournir-page .counter .counter-enview .item .num .flipper.left {
  left: 7px;
}

.block-bg.tournir-page .counter .counter-enview .item .num .flipper {
  bottom: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 40%;
}

.block-bg.tournir-page .counter .counter-enview .item .num .flipper.right {
  right: 7px;
}

.block-bg.tournir-page .counter .counter-enview .item .count-label {
  color: #c5e1eb;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
}

.block-bg.tournir-page .gallery {
  padding: 0 39px;
  position: relative;
  top: 0px;
  margin: 20px auto;
  white-space: nowrap;
  text-align: center;
  width: 610px;
}

.block-bg.tournir-page .gallery .caroufredsel_wrapper{
  margin: 0 auto;
}

.block-bg.tournir-page .gallery .caroufredsel_wrapper .slider {
  overflow: visible !important;
  padding: 0 !important;
  position: relative !important;
  width: 1000% !important;
  white-space: nowrap;
  letter-spacing: -4px;
}

.block-bg.tournir-page .gallery .slider .item {
  display: inline-block;
  margin: 0 6px;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: 110px;
  letter-spacing: -4px;
}

.block-bg.tournir-page .gallery .arr.prev::after {
  background-position: 0 0;
  right: 5px;
}

.block-bg.tournir-page .gallery .arr::after {
  background: rgba(0, 0, 0, 0) url("../images/arrows-12x23-4ce2a05e8c28fb058120336b0b3a4b1b.png") repeat scroll 0 0;
  display: block;
  height: 23px;
  position: absolute;
  top: 69px;
  width: 12px;
}

.block-bg.tournir-page .gallery .arr.prev {
  left: 0;
}

.block-bg.tournir-page .gallery .arr.next {
  right: 0;
}

.block-bg.tournir-page .gallery .arr {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  bottom: 0;
  display: block;
  position: absolute;
  text-indent: -9999px;
  top: -40px;
  width: 33px;
}

input, button, fieldset, textarea {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  font-family: Arial,Helvetica,"Liberation Sans",sans-serif;
  outline: medium none;
}

.block-bg.tournir-page .gallery .arr.next::after {
  background-position: -12px 0;
  left: 5px;
}

.block-bg.tournir-page .gallery .pages {
  bottom: -15px;
  display: block;
  height: 10px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

.block-bg.tournir-page .gallery .pages a.selected {
  background: #42b477 none repeat scroll 0 0;
}

.block-bg.tournir-page .gallery .pages a {
  background: #126b3b none repeat scroll 0 0;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin: 0 5px;
  vertical-align: top;
  width: 10px;
}

.block-bg.tournir-page .gallery .pages a span {
  display: none;
}

.block-bg.tournir-page .tournir-info > header {
  height: 38px;
  line-height: 38px;
  margin-bottom: 11px;
  position: relative;
  white-space: nowrap;
}

.block-bg.tournir-page .tournir-info > header .you {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.block-bg.tournir-page .tournir-info > header .you .num {
  color: #67ccd3;
  font-size: 21px;
}

.block-bg.tournir-page .tournir-info > header .prize {
  font-size: 14px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
}

.block-bg.tournir-page .tournir-info > header .prize .title1 {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  vertical-align: top;
}

.block-bg.tournir-page .tournir-info > header .prize .sum {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  height: 38px;
  line-height: 38px;
  min-width: 149px;
  overflow: hidden;
  padding: 0 10px;
  text-align: center;
  text-overflow: ellipsis;
  text-shadow: 0 0 7px rgba(103, 204, 211, 0.35), 0 0 7px rgba(103, 204, 211, 0.35), 0 0 7px rgba(103, 204, 211, 0.35);
  vertical-align: top;
}

.block-bg.tournir-page .tournir-info .results .table-results {
  width: calc(100% - 2px);
}

.content .table-cont {
  border: medium none;
  border-collapse: separate;
  border-spacing: 0;
  margin: 0 auto;
  width: 700px;
}

.content .table-cont thead tr th:first-child {
  border-left: medium none;
}

.content .table-cont thead tr th {
  background: url("../images/cell-pattern-ee72483c023914b9bd2eacb795bf68a8.png") repeat scroll 0 0%, rgba(0, 0, 0, 0) -moz-linear-gradient(center bottom , rgba(96, 167, 84, 0.6) 0px, rgba(83, 228, 54, 0.6) 54%, rgba(60, 109, 49, 0.6) 100%) repeat scroll 0 0;
  border-bottom: 1px solid #3d4f55;
  border-left: 1px solid #000;
  border-right: 1px solid #3d4f55;
  box-shadow: 0 -5px 0 0 rgba(11, 135, 12, 0.55) inset, 0 -5px 0 0 rgba(11, 135, 12, 0.55) inset, 0 0 14px rgba(84, 208, 58, 0.75) inset;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 12px 10px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
  vertical-align: middle;
}

.block-bg.tournir-page .tournir-info .results .table-results tbody tr.winner td {
  background: #162d3c none repeat scroll 0 0;
}

.block-bg.tournir-page .tournir-info .results .table-results tbody tr td {
  background: #0a1b26 none repeat scroll 0 0;
  padding: 5px 8px;
  text-align: center;
  vertical-align: middle;
}

.content .table-cont tbody tr td:first-child {
  border-left: 1px solid #3d4f55;
}

.content .table-cont tbody tr td {
  background: #0a1b26 none repeat scroll 0 0;
  border-bottom: 1px solid #3d4f55;
  border-left: 1px solid #000;
  border-right: 1px solid #3d4f55;
  color: #dcdcdc;
  font-size: 16px;
  padding: 12px 8px;
  text-align: left;
  vertical-align: top;
}

.rub {
  font-family: Rouble,Arial,Helvetica,"Liberation Sans",sans-serif;
  font-weight: normal;
  text-transform: none !important;
}

.block-bg.tournir-page .tournir-info .results .btn-more::before {
  margin-right: 15px;
}

.block-bg.tournir-page .tournir-info .results .btn-more::before, .block-bg.tournir-page .tournir-info .results .btn-more::after {
  background: rgba(0, 0, 0, 0) url("../images/arrows-23x12-9e401660b57b6f008faa24812f49e690.png") repeat scroll 0 -12px;
  display: inline-block;
  height: 12px;
  vertical-align: baseline;
  width: 23px;
}

.block-bg.tournir-page .tournir-info .results .btn-more::after {
  margin-left: 15px;
}

.btn-dblue {
  background: rgba(4, 16, 25, 0.6) none repeat scroll 0 0;
  border: 1px solid rgba(194, 207, 235, 0.15);
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.15) inset, 0 0 10px rgba(124, 205, 255, 0.2) inset, 0 0 10px rgba(124, 205, 255, 0.2) inset, 0 4px 7px rgba(0, 0, 0, 0.48);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: Arial,Helvetica,"Liberation Sans",sans-serif;
  font-size: 18px;
  height: 34px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.block-bg.tournir-page .tournir-info .results .btn-more:hover::before, .block-bg.tournir-page .tournir-info .results .btn-more:hover::after {
  background-position: -23px -12px;
}

.btn-dblue:hover, .btn-dblue:focus {
  color: #67ccd3;
}

.block-bg.tournir-page .tournir-rules {
  margin-top: 20px;
}

.block-bg.tournir-page .tournir-rules > header {
  margin-bottom: 15px;
}

.block-bg.tournir-page .tournir-rules > header h2 {
  color: #42b477;
  margin: 0;
}

.block-bg.tournir-page .tournir-rules .info .line {
  font-size: 16px;
  margin-bottom: 15px;
}

.block-bg.tournir-page .tournir-rules .info .line .title1 {
  color: #42b477;
}

.block-bg.tournir-page .tournir-rules .info .line .value {
  color: #fff;
  font-weight: 700;
}

.block-bg.tournir-page .tournir-rules .info .discipline {
  margin-bottom: 15px;
}

.block-bg.tournir-page .tournir-rules .info .discipline a {
  color: #dcdcdc;
}

