


@font-face {
    font-family: 'Arial';
  
         url('../fonts/font_arial-webfont.svg#arialmt') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PFD';
    src: url('../fonts/pfd.eot');
    src: url('../fonts/pfd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfd.woff2') format('woff2'),
         url('../fonts/pfd.woff') format('woff'),
         url('../fonts/pfd.ttf') format('truetype'),
         url('../fonts/pfd.svg#arialboldmt') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'ArialBold';
    src: url('../fonts/font_arial_bold-webfont.eot');
    src: url('../fonts/font_arial_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font_arial_bold-webfont.woff2') format('woff2'),
         url('../fonts/font_arial_bold-webfont.woff') format('woff'),
         url('../fonts/font_arial_bold-webfont.ttf') format('truetype'),
         url('../fonts/font_arial_bold-webfont.svg#arialboldmt') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'GeorgiaBold';
    src: url('../fonts/font_georgia_bold-webfont.eot');
    src: url('../fonts/font_georgia_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font_georgia_bold-webfont.woff2') format('woff2'),
         url('../fonts/font_georgia_bold-webfont.woff') format('woff'),
         url('../fonts/font_georgia_bold-webfont.ttf') format('truetype'),
         url('../fonts/font_georgia_bold-webfont.svg#georgiabold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'GeorgiaBoldItalic';
    src: url('../fonts/font_georgia_bolditalic-webfont.eot');
    src: url('../fonts/font_georgia_bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font_georgia_bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/font_georgia_bolditalic-webfont.woff') format('woff'),
         url('../fonts/font_georgia_bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/font_georgia_bolditalic-webfont.svg#georgiabolditalic') format('svg');
    font-weight: normal;
    font-style: italic;

}




@font-face {
    font-family: 'VerdanaBold';
    src: url('../fonts/font_verdana_bold-webfont.eot');
    src: url('../fonts/font_verdana_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font_verdana_bold-webfont.woff') format('woff'),
         url('../fonts/font_verdana_bold-webfont.ttf') format('truetype'),
         url('../fonts/font_verdana_bold-webfont.svg#verdanabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Impact';
    src: url('../fonts/ImpactRegular.eot');
    src: url('../fonts/ImpactRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ImpactRegulart.woff') format('woff'),
         url('../fonts/ImpactRegular.ttf') format('truetype'),
         url('../fonts/ImpactRegular.svg#verdanabold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'VerdanaBoldItalic';
    src: url('../fonts/font_verdana_bolditalic-webfont.eot');
    src: url('../fonts/font_verdana_bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/font_verdana_bolditalic-webfont.woff') format('woff'),
         url('../fonts/font_verdana_bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/font_verdana_bolditalic-webfont.svg#verdanabolditalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/bdHGHleUa-ndQCOrdpfxfw.ttf) format('truetype');
}



