@font-face {
	font-family: 'exo_2.0';
	src: url('../fonts/Exo2.0-Regular.eot');
	src: url('../fonts/Exo2.0-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Exo2.0-Regular.woff') format('woff'),
	url('../fonts/Exo2.0-Regular.ttf') format('truetype'),
	url('../fonts/Exo2.0-Regular.svg#exo_2.0regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'exo_2.0';
	src: url('../fonts/Exo2.0-Bold.eot');
	src: url('../fonts/Exo2.0-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Exo2.0-Bold.woff') format('woff'),
	url('../fonts/Exo2.0-Bold.ttf') format('truetype'),
	url('../fonts/Exo2.0-Bold.svg#exo_2.0bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'exo_2.0';
	src: url('../fonts/Exo2.0-Medium.eot');
	src: url('../fonts/Exo2.0-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Exo2.0-Medium.woff') format('woff'),
	url('../fonts/Exo2.0-Medium.ttf') format('truetype'),
	url('../fonts/Exo2.0-Medium.svg#exo_2.0medium') format('svg');
	font-weight: 600;
	font-style: normal;
}
html{
	background:#03030f url(../images/bg-page-b.jpg) no-repeat 50% 100%;
	height: 100%;
	display: table;
	width: 100% !important;
}
body{
	margin:0;
	color:#333;
	font:13px/20px Tahoma, Arial, sans-serif;
	background: url(../images/bg-page.jpg) no-repeat 50% 0;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:none;
	min-width:1210px;
	height: 100%;
}
.game-page{
	display: table-cell;
	vertical-align: middle;
	min-width: 1002px;
}
img{
	border-style:none;
	vertical-align:top;
}
a{
	text-decoration:none;
	color:#069;
}
a:hover{text-decoration: underline;}
input,textarea,select{
	font:100% Tahoma, Arial, sans-serif;
	vertical-align:middle;
}
form,fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
button,
input[type=cancel],
input[type=reset],
input[type=submit]:hover{cursor:pointer;}
input[type=submit],
input[type=text],
input[type=password],
input[type=file],
textarea{-webkit-appearance:none;}
textarea,
input[type=submit],
input[type=text]{-webkit-border-radius:0;}
input[type=image]{
	padding:0;
	border:none;
}
button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner{
	padding:0 !important;
	border:0 none !important;
}
article, aside, details, figcaption, figure, footer, header, hgroup, links, nav, section{display:block;}
form :-moz-placeholder{color:#fff;}
form ::-moz-placeholder{color:#fff; opacity:1;}
form :-ms-input-placeholder{color:#fff;}
form ::-webkit-input-placeholder{color:#fff;}
h1{
	font-family: 'exo_2.0', 'Trebuchet MS', Arial, sans-serif;
	font-size:2em;margin:0.67em 0
}
h2{
	font: 600 16px/20px 'exo_2.0', 'Trebuchet MS', Arial, sans-serif;
	margin:0.83em 0;
	text-transform: uppercase;
}
h3{
	font-family: 'exo_2.0', 'Trebuchet MS', Arial, sans-serif;
	font-size:1.17em;margin:1em 0
}
h4{font-size:1em;margin:1.33em 0}
h5{font-size:0.83em;margin:1.67em 0}
h6{font-size:0.75em;margin:2.33em 0}
mark{background:none;}
q{quotes:none}
q:before,
q:after{content:'';content:none}
p,dl,links,ol,ul{margin:1em 0}
dd{margin:0 0 0 40px}
links,ol,ul{padding:0 0 0 40px}
nav ul,nav ol{list-style:none;list-style-image:none}
canvas{vertical-align:top;}
.align-left{float: left;}
.align-right{float: right;}
.center{
	text-align: center;
	margin: 0 auto;
}
.right{
	margin:  0 0 0 auto;
	text-align: right;
}
.refill:after,
.rating-area:after,
#main:after,
.bottom-block:after,
.layout:after,
#header:after,
.header-holder:after{
	content: '';
	display: table;
	width: 100%;
	clear: both;
}
#wrapper{overflow: hidden;}
.w1{
	margin: 0 auto;
	width: 1200px;
}
#header{padding: 50px 0 25px;}
.header-holder{padding: 0 0 27px;}
.logo{
	background: url(../images/logo.png) no-repeat;
	width: 276px;
	height: 75px;
	float: left;
	margin: -10px 10px 0 5px;
	text-indent: -9999px;
	overflow: hidden;
}
.logo a{
	height: 100%;
	display: block;
}
.right-block{
	float: right;
  width: 900px;
}
.right-block-2{
	text-align: right;
}
.social-sharing{
	margin: 0 13px 0 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	vertical-align: middle;
}
.social-sharing li{
	display: inline-block;
	vertical-align: middle;
	margin: 0 3px;
}
.btn-head{
  box-shadow: inset 0 0 3px rgba(255,255,255,.3);
	font: bold 18px/40px 'exo_2.0', 'Trebuchet MS', Arial, sans-serif;
	color: #fff;
	text-shadow: 1px 1px rgba(0,0,0,.5);
	display: inline-block;
	vertical-align: top;
	padding: 0 10px;
	text-align: center;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 0;
  width: 131px;
  height: 53px;
  line-height: 53px;
  margin-right: 10px;
  background: #62b10e url(../images/head-btn.png) no-repeat;
}

.btn-head-orange:hover{
background-position: 0 -53px;
text-decoration: none;
}

.btn-head-green{
background-position: -131px 0;
}

.btn-head-green:hover{
background-position: -131px -53px;
text-decoration: none;
}

.btn-head-bonus{
  display: inline-block;
  width: 49px;
  height: 53px;
  background: #62b10e url(../images/head-btn.png) no-repeat;
  background-position: -262px 0;
}

.btn-head-bonus:hover{
background-position: -262px -53px;
}

.btn-orange,
.btn-green{
	-webkit-box-shadow:inset 0 0 3px rgba(255,255,255,.3);
	box-shadow: inset 0 0 3px rgba(255,255,255,.3);
	font: bold 15px/40px 'exo_2.0', 'Trebuchet MS', Arial, sans-serif;
	color: #fff;
	background: #62b10e url(../images/btn-green.png) repeat-x;
	text-shadow: 1px 1px rgba(0,0,0,.5);
	display: inline-block;
	vertical-align: middle;
	padding: 0 23px;
	text-align: center;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 0;
	border-bottom: 3px solid #044d0e;
}
.btn-orange{
	background:#ff630f url(../images/btn-orange.png) repeat-x;
	border-bottom-color: #b83100;
}
.btn-green:hover,
.btn-orange:hover{
	background-position: 0 100%;
	background-color: transparent;
	text-decoration: none;
}
.btn-orange.small{
	font-size: 16px;
	padding: 0 25px;
	line-height: 28px;
}
.btn-green.big, .btn-orange.big{line-height: 50px;}
button[class*="btn"],
input[class*="btn"]{
	height: 43px;
	line-height: 43px;
}
.btn-login{
	width: 170px;
	margin: 0 0 0 17px;
}
.btn-add{
	width: 220px;
	padding: 0 15px;
	margin: -10px 0 0;
	vertical-align: top;
}
.user-area{
  float: right;
	width: 540px;
	margin: 0px 0 0 10px;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #eee;
	border: 1px solid rgba(255,255,255,.25);
	background: #ddd;
	background: rgba(255,255,255,.1);
}
.user-area .ava{
	margin: -1px 0px -1px -1px;
	border: 1px solid #fff;
	border: 1px solid rgba(255,255,255,.25);
	background: #ddd;
	background: rgba(255,255,255,.1);
}
.user-area ul{
	margin:0 51px;
	padding: 0;
	list-style:none;
}
.user-area li{
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	line-height: 20px;
	margin: 0;
  border-left: solid 1px #616168;
  padding: 3px 10px;
  width: 85px;
}
.user-area li:first-child{margin-left: 0; border-left: none;}
.user-area li:last-child{margin-right: 0;width: 88px;}
.user-area .title{
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	margin: 0;
}

.user-area span{
  text-decoration: underline;
}
.dk_tour_foot span{
	font-family: "Tahoma" sans-serif;
}

.user-area .title:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	background: url('../images/head-ico.png') no-repeat 0 0px;
	width: 20px;
	height: 20px;
	margin: -2px 5px 0 -2px;
}
.user-area .balance:before{
	background-position: -20px 0px;
	width: 20px;
	height: 20px;
}
.user-area .wager:before{
	background-position: -40px 0px;
	width: 20px;
	height: 20px;
}
.user-area .partner:before{
	background-position: -60px 0px;
	width: 20px;
	height: 20px;
}
.user-area .history:before{
	background-position: -80px 0px;
	width: 20px;
	height: 20px;
}

.user-area p{margin: 0; color: #7fddff;}
.btn-logout{
	width: 50px;
	height: 50px;
	float: right;
	text-indent: -9999px;
	overflow: hidden;
	position: relative;
	background: #ddd;
	background: rgba(255,255,255,.2);
}
.btn-logout:hover{
	background: #fff;
	background: rgba(255,255,255,.4);
}
.btn-logout:after{
	content: '';
	position: absolute;
	left: 15px;
	top: 15px;
	background: url('../images/sprite.png') no-repeat -500px 0;
	width: 23px;
	height: 24px;
}
#main-nav{
	background: url(../images/bg-nav.png) repeat-x;
	-webkit-box-shadow: inset 0 0 2px rgba(255,255,255,.3);
	box-shadow: inset 0 0 2px rgba(255,255,255,.2);
}
#main-nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	display: table;
	width: 100%;
}
#main-nav li{
	display: table-cell;
	font: 600 14px/18px 'exo_2.0', 'Trebuchet MS', Arial, sans-serif;
	text-align: center;
}
#main-nav a{
	color: #fff;
	padding: 17px 12px;
	display: block;
	border: 1px solid transparent;
}
#main-nav .active a,
#main-nav a:hover{
	text-decoration: none;
	background: #071825;
	border-color: #0d3c59;
}
#content{
	float: left;
	width: 900px;
	margin: 0 10px 17px 0;
}
.inners{
	width: 100%;
	display: table;
	margin: 0 0 11px;
}
.content{
	width: 900px;
/*	display: table-cell;*/
	vertical-align: top;
	background: #fff;
}
.inner #sidebar{
	display: table-cell;
	vertical-align: top;
	padding: 0 0 0 10px;
	float: none;
}
.success-note,
.message{
	font-size: 13px;
	padding: 11px 21px;
	margin: 0 0 18px;
	text-align: center;
	color: #fff;
	position: relative;
}
.message p{
	margin: 0;
	display: inline-block;
	vertical-align: middle;
}
.success-note:before,
.message:before{
	content: '';
	background: url('../images/sprite.png') no-repeat 0 0;
	width: 49px;
	height: 38px;
	float: left;
	left: 6px;
	position: absolute;
	bottom: 0;
}
.success-note,
.message-note{background: #1f8105;}
.slideset{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 99999px;
	overflow: hidden;
}
.owl-carousel.slideset{width: auto;}
.slideset li{
	float: left;
	position: relative;
}

.main-banner{
	margin: 0 0 20px;
	overflow: hidden;
}
.main-banner .text-holder{
	position: absolute;
	left: 10px;
	right: 10px;
	top: 50%;
	text-align: center;
	padding: 16px 0 0;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	font: bold 40px/48px 'exo_2.0', 'Trebuchet MS', Arial, sans-serif;
	color: #ffeb13;
	text-shadow:-3px -3px 0 #713600, 1px -3px 0 #713600, -3px 3px 0 #713600, 3px 3px 0 #713600;
}
.main-banner .text-holder p{margin: 0;}
.main-banner .text-holder mark{color: #fff7a6;}
.main-banner .owl-controls{
	position: absolute;
	left: 8px;
	bottom: 10px;
}
.main-banner .owl-dot{
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	height: 14px;
	margin: 0 4px 0 2px;
	border: 1px solid #fff;
	border-radius: 50%;
	-webkit-box-shadow: 0.5px 0.9px 3px rgba(0, 1, 1, 0.75);
	box-shadow:  .5px .9px 3px rgba(0,1,1,.75);
	background: #f8fbf7 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZmJmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjN2M4YzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -webkit-linear-gradient(top,  #f8fbf7 0%,#c7c8c4 100%);
	background: linear-gradient(to bottom,  #f8fbf7 0%,#c7c8c4 100%);
}
.main-banner .owl-dot:hover,
.main-banner .owl-dot.active{
	background: #ffb054 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYjA1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYTg4MjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -webkit-linear-gradient(top,  #ffb054 0%,#fa8826 100%);
	background: linear-gradient(to bottom,  #ffb054 0%,#fa8826 100%);
	border: 1px solid #ff8b27;
}
.games-list{
	padding: 11px 7px 0;
	margin: 0 0 20px;
	font-size: 0;
	line-height: 0;
	letter-spacing: -4px;
	background: #fff;
  margin-bottom: 15px;
}
/*.games-list:last-child{margin-bottom: 3px;}*/
.games-list .item-top:before, .games-list .item-games:before, .games-list .item-other-games:before{
	content: '';
	background: url('../images/sprite.png') no-repeat -51px 0;
	width: 141px;
	height: 128px;
	position: absolute;
	left: -10px;
	top: -10px;
}

.games-list .item-games:before{
	background: url('../images/sprite.png') no-repeat 0 -132px;
  width: 125px;
}

.games-list .item-other-games:before{
	background: url('../images/sprite.png') no-repeat 0 -288px;
  width: 125px;
}

.games-list .item{
	width: 165px;
	height: 130px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	font: bold 20px/22px 'exo_2.0', 'Trebuchet MS', Arial, sans-serif;
	letter-spacing: 0;
	margin: 0 6px 10px;
}
.games-list .item-top,.games-list .item-games,.games-list .item-other-games{width: 342px;}
.game .list li:after,
.games-description .item:after,
.games-list .item:after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.7);
	opacity: 0;
	-webkit-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
}
.games-list .item-top:after,.games-list .item-games:after,.games-list .item-other-games:after{display: none;}
.games-list .text,
.buttons{
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
	text-align: center;
}
.buttons{
	opacity: 0;
	visibility: hidden;
}
.game .list li:hover:after,
.games-list li:hover:after,
.item:hover:after,
.item:hover .buttons,
li:hover .buttons{
	visibility: visible;
	opacity: 1;
}
.buttons .btn-green{margin: 0 0 11px;}
.buttons [class*="btn"]{padding: 0 33px;}
.games-description{
	margin: 0 0 15px;
	background: #0d283b;
	overflow: hidden;
}
.games-description li{
	width: 450px;
	padding: 11px 21px 11px 11px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.games-description .item{position: relative;}
.games-description .owl-item.active + .active li{border-left: 1px solid #244c62;}
.games-description .align-left{margin: 0 15px 0 0;}
.games-description .text-holder{
	font-size: 12px;
	line-height: 18px;
	color: #7fddff;
}
.games-description h2{
	font-size: 12px;
	line-height: 18px;
	color: #fff;
	text-transform: uppercase;
	margin: 5px 0 2px;
}
.games-description p{
	margin: 0 0 16px;
}
.rating-area .label{
	display: inline-block;
	vertical-align: middle;
	margin: 0 16px 0 0;
}
.rating-area .rating{
	background: url(../images/bg-rating.png) repeat-x 0 100%;
	width: 97px;
	height: 14px;
	display: inline-block;
	vertical-align: middle;
}
.rating-area .rating-value{
	background: url(../images/bg-rating.png) repeat-x;
	height: 14px;
}
.text-intro{
	padding: 13px 80px 8px 20px;
	background: #fff;
	position: relative;
	font-size: 12px;
	line-height: 15px;
	margin: 0 0 20px;
	min-height: 110px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.text-intro .btn-holder{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	background: #d7d7d7;
	width: 60px;
}
.text-intro .opener{
	background: #eee;
	display: block;
	height: 110px;
	text-indent: -9999px;
	overflow: hidden;
	position: relative;
}
.text-intro .opener:before{
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: url('../images/sprite.png') no-repeat -194px -36px;
	width: 27px;
	height: 16px;
}
.text-intro h2{
	font-size: 16px;
	line-height: 20px;
	margin: 0 0 14px;
	text-transform: uppercase;
}
.text-intro p{
	margin: 0 0 15px;
}
#sidebar{
	float: right;
	width: 280px;
}
.side-block{
	margin: 0 0 22px;
	background: #fff;
}
.side-block:last-child{margin: 0;}
.side-block ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.side-block li{
	border-bottom: 1px solid #d9d9d9;
	overflow: hidden;
	padding: 0 12px 0 0;
	font-size: 0;
	line-height: 0;
	letter-spacing: -4px;
}
.side-block h3{
	font: 600 16px/20px 'exo_2.0', 'Trebuchet MS', Arial, sans-serif;
	padding: 15px 5px;
	text-align: center;
	margin: 0;
	color: #fff;
	background: #ff7800;
	text-transform: uppercase;
}
.side-block .align-left{
	margin: 0 8px 0 0;
	float: none;
	display: inline-block;
	vertical-align: middle;
}
.side-block .text{
	display: inline-block;
	vertical-align: middle;
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 0;
	color: #666;
	width: 206px;
}
.side-block.winners .text{width: 206px;}
.side-block.payout .text{width: 176px;}
.side-block .title{
	font-size: 12px;
	line-height: 16px;
	color: #333;
	display: block;
	margin: 3px 0 -1px;
}
.side-block .summ{
	float: right;
	margin: 9px 0 0 10px;
	font-size: 15px;
	line-height: 18px;
	color: #f63;
}
.side-block p{margin: 0;}
.side-block.contacts h3{background: #0d283b;}
.contacts dl{
	margin: 0;
	overflow: hidden;
	font-size: 12px;
	line-height: 18px;
	color: #333;
	display: table;
	width: 100%;
}
.contacts dt{
	float: left;
	width: 110px;
	border-bottom: 1px solid #d9d9d9;
	color: #0078a4;
	min-height: 20px;
	padding: 20px 4px 20px 12px;
}
.contacts dd{
	min-height: 20px;
	overflow: hidden;
	border-bottom: 1px solid #d9d9d9;
	margin: 0;
	padding: 20px 5px;
	font-weight: bold;
}
.contacts a{color: #333;}
.contacts dt strong:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	margin: 0 13px 0 0;
	background: url('../images/sprite.png') no-repeat -193px 0;
}
.contacts dt .tel:before{
	width: 17px;
	height: 17px;
}
.contacts dt .email:before{
	background-position: -193px -19px;
	width: 15px;
	height: 15px;
}
.contacts dt .icq:before{
	background-position: -212px 0;
	width: 16px;
	height: 16px;
}
.contacts dt .support:before{
	background-position: -212px -18px;
	width: 16px;
	height: 16px;
}
.refill{
	margin: 0 0 20px;
	position: relative;
	padding: 67px 20px 0;
	z-index: 0;
}
.refill:before{
	content: '';
	background: url('../images/sprite.png') no-repeat -230px 0;
	width: 93px;
	height: 126px;
	position: absolute;
	top: 11px;
	left: 0;
	z-index: -1;
}
.affiliate-program:before{
	background-position: -325px 0;
	width: 160px;
	height: 115px;
	top: 0;
}
.games-area:before{
	background-position: 0 -131px;
	width: 123px;
	height: 120px;
	top: 0;
}
.article:before{
	background-position: -126px -131px;
	width: 86px;
	height: 139px;
	top: 0;
}
.statistics:before{
	background-position: -126px -131px;
	width: 86px;
	height: 139px;
	top: 0;
}
.news:before{
	background-position: -214px -130px;
	width: 118px;
	height: 123px;
	top: 0;
}
.profile:before{
	background-position: -334px -130px;
	width: 92px;
	height: 110px;
	top: 0;
}
.statistics:before{
	background-position: -431px -130px;
	width: 92px;
	height: 121px;
	top: 0;
}
.refill .heading{
	overflow: hidden;
	margin: 0 -10px 64px 0;
	font-size: 12px;
	line-height: 15px;
	color: #666;
}
.article .heading,
.refill.confirm .heading{margin-bottom: 54px;}
.games-area .heading{margin-bottom: 23px;}
.refill h1{
	font: bold 20px/24px 'exo_2.0', 'Trebuchet MS', Arial, sans-serif;
	margin: 0;
	text-transform: uppercase;
	color: #333;
	display: inline-block;
	vertical-align: middle;
	width: 350px;
	text-align: center;
	padding: 0 20px 0 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.refill .texts{
	display: inline-block;
	vertical-align: middle;
	margin: 0 -4px 0 -5px;
	width: 520px;
}
.refill .texts p{margin: 0;}
.refill .block{
	background: #e6e9eb;
	margin: 0 0 20px;
}
.refill .block .title{
	background: #000;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	margin: 0 36px 0 0;
	width: 174px;
	background: #0d283b;
	padding: 11px 5px 9px 21px;
	min-height: 40px;
}
.refill .block h2{
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
}
.refill .form-control{
	display: inline-block;
	vertical-align: middle;
}
.refill form :-moz-placeholder{color:#999;}
.refill form ::-moz-placeholder{color:#999;}
.refill form :-ms-input-placeholder{color:#999;}
.refill form ::-webkit-input-placeholder{color:#999;}
.refill select,
.refill input[type="tel"],
.refill input[type="email"],
.refill input[type="password"],
.refill input[type="text"]{
	background: #f2f2f2;
	border: 1px solid #bebebe;
	font-size: 12px;
	color: #333;
	-webkit-box-shadow: inset 1px 1px 2px rgba(0,1,1,.15);
	box-shadow: inset 1px 1px 2px rgba(0,1,1,.15);
	padding: 6px 10px;
	margin: 0 55px 0 0;
	display: inline-block;
	vertical-align: middle;
	width: 358px;
}
.refill select:last-child,
.refill input[type="tel"]:last-child,
.refill input[type="email"]:last-child,
.refill input[type="password"]:last-child,
.refill input[type="text"]:last-child{margin-right: 0;}
.profile select,
.profile input[type="tel"],
.profile input[type="email"],
.profile input[type="password"],
.profile input[type="text"]{margin-right: 36px;}
.withdrawals select{color: #999;}
.withdrawals .form-control{width: 580px;}
.withdrawals input[type="text"],
.withdrawals select{width: 100%;}
.withdrawals .right{padding: 19px 0 0;}
.withdrawals input[type="submit"]{width: 220px;}
.refill option{
	font-size: 12px;
	line-height: 20px;
	color: #333;
}
.refill option:hover{
	background: #878787;
	color: #fff;
}
.btn-blue{
	font: 600 14px/30px 'exo_2.0', 'Trebuchet MS', Arial, sans-serif;
	background: #069;
	padding: 0 26px;
	text-transform: uppercase;
	color: #fff;
	border: 0;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.refill .btn-blue{width: 161px;}
button.btn-blue,
input.btn-blue{
	height: 30px;
	line-height: 30px;
}
.confirm .block{
	font-size: 16px;
	padding: 12px 20px 20px;
}
.confirm .block p{margin: 0 0 17px;}
.affiliate-program .link{
	width: 435px;
	display: inline-block;
	vertical-align: middle;
}
.table{padding: 3px 0 30px;}
.table h2{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 7px;
}
.table table{
	width: 100%;
	border-spacing: 0;
	background: #e6e9eb;
	text-align: center;
}
.table th{
	font: 14px/20px 'exo_2.0', 'Trebuchet MS', Arial, sans-serif;
	color: #fff;
	padding: 5px 5px 4px;
	background: #0d283b;
	border-right: 1px solid #e6e9eb;
}
.table tr:nth-child(2n+1) td{
	background: #f2f4f5;
}
.table th:last-child,
.table td:last-child{border: 0;}
.table td{
	border-right: 1px solid #b8babc;
	padding: 5px;
}

.game{
	margin: 0 auto;
	max-width: 1294px;
	table-layout: fixed;
	width: 100%;
	display: table;
	padding: 10px 0;
	height:100%;
  z-index: 100;
}
.game .cell{
	display: table-cell;
	vertical-align: top;
}
.game-holder img{
	display: block;
	width: 100%;
	height: auto;
}
.game .aside{
	vertical-align: middle;
	width: 170px;
	border: 1px solid #069;
	padding: 20px;
}
@media screen and (max-height: 830px){
	.game .aside{
		width: 160px;
	}
}
.game-holder{
	border: solid #069;
	border-width: 1px 0;
	height:100%;
	background: #000;
}
.game .aside > [class*="btn"]{
	width: 100%;
	margin: 0 0 7px;
}
.user-block{
	border: 1px solid #fff;
	border: 1px solid rgba(255,255,255,.25);
	background: #fff;
	background: rgba(255,255,255,.1);
	overflow: hidden;
	margin: 0 0 22px;
	font-size: 11px;
	line-height: 13px;
	color: #fff;
}
.user-block img{
	float: left;
	margin: -1px 5px -1px -1px;
	border: 1px solid #fff;
	border: 1px solid rgba(255,255,255,.25);
}
.user-block .texts{
	padding: 16px 0 0 5px;
	overflow: hidden;
}
.user-block a{
	color: #7fddff;
	text-decoration: underline;
	word-break: break-all;
	word-wrap: break-word;
}
.user-block a:hover{text-decoration: none;}
.game .list{
	margin: 0 0 -25px;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.game .list li{
	margin: 0 0 23px;
	position: relative;
}
@media screen and (max-height: 830px){
	.game .list li:last-child{
		display: none;
	}
	.game .list li,
	.user-block{
		margin-bottom: 10%;
	}
	.game-holder + .aside .list li{
		margin-bottom: 11%;
	}
	.game .list li img{
		width: 100%;
		height: auto;
		display: block;
	}
}
.game-holder + .aside .list li{margin-bottom: 26px;}
.article-holder h2{
	font-weight: bold;
	margin: 0 0 20px;
}
.article-holder p{margin: 0 0 20px;}
.tabset{
	padding: 0 9px;
	border-bottom: 1px solid #0d283b;
	margin: 0 0 7px;
}
.tabset ul{
	margin: 0;
	padding: 0;
	list-style: none;
	display: table;
	width: 100%;
	table-layout: fixed;
	background: #e6e9eb;
}
.tabset li{
	font: bold 16px/20px 'exo_2.0', 'Trebuchet MS', Arial, sans-serif;
	text-align: center;
	display: table-cell;
	text-transform: uppercase;
	border-left: 1px solid #fff;
}
.tabset li:first-child{border: 0;}
.tabset a{
	display: block;
	padding: 9px 36px;
}
.tabset .active{
	color: #fff;
	background: #0d283b;
}
.news-item{
	background: #e6e9eb;
	margin: 0 0 20px;
}
.news-item .heading-block{
	background: #0d283b;
	padding: 10px 20px;
	overflow: hidden;
}
.news-item h2{
	font-weight: bold;
	color: #fff;
	float: left;
	margin: 0;
}
.news-item .date{
	float: right;
	color: #ff7800;
	font-size: 12px;
	line-height: 16px;
}
.news-item .holder{
	padding: 15px 20px;
	overflow: hidden;
}
.news-item .align-left{margin: 4px 25px 0 0;}
.news-item .text-holder{overflow: hidden;}
.news-item p{margin: 0 0 18px;}
.news-item a{text-decoration: underline;}
.news-item a:hover{text-decoration: none;}
.paging{
	text-align: center;
	margin: 0 0 20px;
	font: 600 16px/30px 'exo_2.0', 'Trebuchet MS', Arial, sans-serif;
}
.paging ul{
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	vertical-align: top;
}
.paging li{
	vertical-align: top;
	display: inline-block;
	margin: 0 3px 0 4px;
	width: 30px;
}
.paging a{
	color: #fff;
	display: inline-block;
	vertical-align: top;
	width: 30px;
	height: 30px;
	text-align: center;
	background: #0d283b;
}
.paging .active a,
.paging a:hover{background: #ff7800;}
.profile-items{
	margin: 0 -8px 20px;
	padding: 0;
	list-style: none;
}

.profile-items li{
	width: 200px;
	display: inline-block;
	margin: 0 8px;
	background: #e6e9eb;
}
.profile-items h2{
	padding: 10px 5px;
	font-weight: bold;
	text-transform: uppercase;
	background: #0d283b;
	margin: 0;
	text-align: center;
	color: #fff;
}
.profile-items .holder{
	display: table;
	width: 100%;
	text-align: center;
	height: 200px;
}
.profile-items .cell{
	display: table-cell;
	vertical-align: middle;
	padding: 20px;
}
/*.profile .right{padding: 19px 0;}*/
.profile-items a{
	text-decoration: underline;}
.profile-items a:hover{text-decoration: none;}
#footer{padding: 10px 0 0;}
.payments{
	margin: 0 -15px 40px;
	padding: 0;
	list-style: none;
}
.payments li{
	display: inline-block;
	vertical-align: middle;
	margin: 0 14px;
}
.payments a{
	background: url(../images/icons-payments.png) no-repeat;
	height: 39px;
	display: block;
	text-indent: -9999px;
	overflow: hidden;
}
.payments .wm{
	background-position: 0 -12px;
	width: 85px;
	height: 22px;
}
.payments .wm:hover{background-position: 0 -58px;}
.payments .yad{
	width: 76px;
	height: 33px;
	background-position: -111px -6px;;
}
.payments .yad:hover{background-position: -111px -52px;}
.payments .pb{
	background-position: -218px -12px;
	width: 86px;
	height: 20px;
}
.payments .pb:hover{background-position: -218px -58px;}
.payments .dm{
	background-position: -327px -12px;
	width: 105px;
	height: 20px;
}
.payments .dm:hover{background-position: -327px -58px;}
.payments .lq{
	background-position: -457px -14px;
	width: 79px;
	height: 15px;
}
.payments .lq:hover{background-position: -457px -60px;}
.payments .mr{
	background-position: -561px 0;
	width: 89px;
	height: 37px;
}
.payments .mr:hover{background-position: -561px -46px;}
.payments .ii{
	background-position: -680px -9px;
	width: 32px;
	height: 19px;
}
.payments .ii:hover{background-position: -680px -55px;}
.payments .ak{
	background-position: -743px -8px;
	width: 98px;
	height: 26px;
}
.payments .ak:hover{background-position: -743px -54px;}
.payments .qiwi{
	background-position: -869px -8px;
	width: 59px;
	height: 28px;
}
.payments .qiwi:hover{background-position: -869px -54px;}
.payments .visa{
	background-position: -971px -5px;
	width: 67px;
	height: 29px;
}
.payments .visa:hover{background-position: -971px -51px;}
.payments .mc{
	background-position: -1084px -14px;
	width: 105px;
	height: 16px;
}
.payments .mc:hover{background-position: -1084px -60px;}
.columns{margin:0 0 48px;}
.columns .col{
	display: inline-block;
	/*vertical-align: middle;*/
	margin: 0 50px 0 0;
	width: 400px;
}
.columns h3{
	font: bold 12px/16px Tahoma, Arial, Helvetica, sans-serif;
	color: #fff;
	margin: 0 0 7px;
	text-transform: uppercase;
}
.columns ul{
	margin: 0 0 0 30px;
	display: inline-block;
	vertical-align: top;
	padding: 0;
	max-width: 150px;
	list-style: none;
	font-size: 12px;
}
.columns h3 + ul,
.columns ul:first-child{margin-left: 0;}
.columns .col a{
	color: #7fddff;
	text-decoration: underline;
}
.columns .col a:hover{text-decoration: none;}
.columns .right{
	float: right;
	margin: 0;
	width: 209px;
	text-align: left;
}
.columns .right ul{
	columns: 1;
	-moz-columns: 1;
	-webkit-columns: 1;
}
.bottom-block{
	background: #0d283b;
	padding: 29px 9999px 24px;
	margin: 0 -9999px;
}
.copy{
	font-size: 12px;
	line-height: 16px;
	float: left;
	margin: 0 10px 0 0;
	color: #0078a4;
}
.bottom-block .icons{
	float: right;
	margin: -7px -5px 0 0;
	padding: 0;
	list-style: none;
}
.bottom-block .icons li{
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 11px;
}
.popup-holder{
	overflow: hidden;
	height: 0;
	position: relative;
}
.popup-holder-new{
	height: 0;
	position: relative;
}
.lightbox{
	position: relative;
	width: 458px;
	border: 1px solid #1f4560;
	background: #0d283b;
	padding: 0 0 38px;
	z-index: 0;
}
.lightbox:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: url(../images/bg-lightbox-b.png) no-repeat;
	width: 458px;
	height: 81px;
	z-index: -1;
}
.lightbox h3{
	font: bold 18px/22px 'exo_2.0', 'Trebuchet MS', Arial, sans-serif;
	text-align: center;
	margin: 0;
	color: #fff;
	border-bottom: 1px solid #154d73;
	text-transform: uppercase;
	padding: 24px 10px;
}
.lightbox .form{
	background: url(../images/bg-lightbox-t.png) no-repeat;
	padding: 12px 60px 0;
}
.lightbox .form label{
	color: #7fddff;
	margin: 0 0 6px;
	display: block;
}

.sales{
 overflow:hidden;
 width:800px;
 margin:60px auto 0;
 padding:0 0 0 0 !important;
}
.sales li{
 float:left;
 text-align: center;
 width:250px;
 margin:0 8px 0 8px !important;
 list-style-type: none;
}

.lightbox2{
     width:940px;
     height:550px;
	position: relative;
	border: 1px solid #0d283b;
	background: #0d283b;
	z-index: 0;
     background-image: url(../images/popbck.png);
     display:none;
}
.lightbox2 h3{
	font: bold 18px/22px 'exo_2.0', 'Trebuchet MS', Arial, sans-serif;
	text-align: center;
	color: #fff;
     margin-top:25px;
	text-transform: uppercase;
}

.saless1{
 font-size:16px;
 color:#fff;
 text-align: center;
 margin-top:15px
}
.saless2{
 font-size:14px;
 color:#f9ea96;
 text-align:center;
 margin-top:-15px;
}
.green-new{
 width:225px;
 margin:30px auto 0 !important;
 text-align: center;
}
.lightbox2 label {
 width: 246px;
 height: 246px;
 display: block;
 position: relative;
}

.vlabel span{
 position: absolute;
 left: 0; top: 0;
 width: 100%; height: 100%;
 background-image: url(../images/spritepopup.png);
 cursor: pointer;
}
.p1{
 background-position:250px 260px;
}
.vlabel input:checked + .p1{
 background-position:-248px 260px;
}
.p2{
  background-position:0 -12px;
}
.vlabel input:checked + .p2{
  background-position:-252px -12px;
}
.p3{
 background-position: 0px 260px;
}
.vlabel input:checked + .p3{
 background-position: 246px -12px;
}
.vlabel input{
 display:none;
}

textarea,
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="text"]{
	background: #1c435e;
	border: 1px solid #30658f;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px 10px;
	color: #fff;
	-webkit-box-shadow: inset 2px 2px 2px rgba(0,1,1,.2);
	box-shadow: inset 2px 2px 2px rgba(0,1,1,.2);
}
textarea{
	resize: vertical;
	overflow: auto;
	height: 214px;
}
.lightbox textarea,
.lightbox input[type="text"],
.lightbox input[type="password"]{
	width: 100%;
	display: block;
	margin: 0 0 14px;
}
.lightbox input + .forgot{margin-top: -10px;}
.lightbox .forgot{
	font-size: 12px;
	display: inline-block;
	vertical-align: top;
	color: #fff;
	margin: 0 0 17px;
	text-decoration: underline;
}
.lightbox .forgot:hover{text-decoration: none;}
.lightbox input[type="submit"]{
	display: block;
	margin: 0 auto;
	width: 220px;
}
.lightbox textarea + input[type="submit"],
.lightbox input + input[type="submit"]{margin-top: 41px;}
.fancybox-wrap .fancybox-close{
	background: url('../images/sprite.png') no-repeat 0 -41px;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	overflow: hidden;
	top: 7px;
	right: 9px;
}
.fancybox-wrap .fancybox-close:hover{background-position: -18px -41px;}
.lightbox a{
	color: #fff;
	text-decoration: underline;
}
.lightbox a:hover{text-decoration: none;}
input[type="checkbox"] + label:before,
input[type="checkbox"]{
	margin: 0;
	padding: 0;
	width: 13px;
	height: 13px;
	background: #1c435e;
	border: 1px solid #30658f;
	-webkit-box-shadow: inset 2px 2px 2px rgba(0,1,1,.2);
	box-shadow: inset 2px 2px 2px rgba(0,1,1,.2);
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 0 0;
}
input[type="checkbox"]{
	position: absolute;
	left: -9999px;
	visibility: hidden;
}
input[type="checkbox"] + label:before{content: '';}
input[type="checkbox"]:checked + label:after{
	content: '';
	position: absolute;
	left: 1px;
	top: 2px;
	background: url('../images/sprite.png') no-repeat 0 -60px;
	width: 13px;
	height: 10px;
}
input[type="checkbox"] + label{
	display: inline-block;
	vertical-align: middle;
	font-size: 11px;
	line-height: 13px;
	color: #7fddff;
	position: relative;
}
.lightbox .row{padding: 13px 0 23px;}
.error-note{
	margin: 0 0 10px;
	background: #cc3333;
	border: 1px solid #f66;
	position: relative;
	padding: 9px 30px 9px 44px;
	color: #fff;
	text-align: center;
	margin: -4px -50px 14px;
	display: none;
}
.message.error-note,
.success .success-note,
.error .error-note{display: block;}
.message.error-note{margin: 0 0 18px;}
.error-note:before{
	content: '';
	background: url('../images/sprite.png') no-repeat 0 -72px;
	width: 40px;
	height: 35px;
	position: absolute;
	left: 5px;
	bottom: 0;
}
.success-note{
	display: none;
	margin: -4px -50px 14px;
	font-size: 14px;
	border: 1px solid #37a01b;
	padding: 9px 30px 9px 44px;
}

.langs{
  float: right;
  margin-top: 12px;
}

.rate{
 width: 280px;
 height: 250px;
}

.rate_icon{
 position: absolute;
 width: 220px;
 height: 220px;
 margin: 15px 30px;
}

.rate_level{
 position: absolute;
 top: 95px;
 left: 90px;
 width: 38px;
 text-align: center;
 font: 600 30px/30px "exo_2.0","Trebuchet MS",Arial,sans-serif;
 font-weight: bold;
}
.dk_expoint {
	padding: 11px 7px 0;
	margin:-20px 0 0 0;
	background: #fff;
	background-image:url(../images/exchangebck.png);
	background-repeat: no-repeat;
	background-position: top left;
	height:1185px;
}

.dk_row {
	overflow: hidden;
}

.dk_header {
font-family: 'exo_2.0', sans-serif;
font-size:20px;
padding:10px 0;
margin: 50px 0 0 130px;
float:left;
font-weight: bold;
text-transform: uppercase;
}


.dk_description_ex {
	font-family: "Tahoma", sans-serif;
	font-size: 12px;
	width:520px;
	float:right;
	margin-top:44px;
        line-height:15px;
	
}
.dk_description {
	font-family: "Tahoma", sans-serif;
	font-size: 12px;
	width:300px;
	float:right;	
}
.dk_description a{
	display:block;
	width:120px;
	padding:10px;
	background-color: #006699;
	font-weight: 500;
	color:white;
	text-align: center;
	font-size: 14px;
	font-family: "exo_2.0", sans-serif;
	float:left;
	margin-right:10px;
	text-transform: uppercase
}
.dk_description a:hover{
	background-color: #666666;
}

.dk_description p {
   		line-height:15px;
}

.dk_ballance_h {
	background-color: #0d283b;
	color:white;
	font-family: 'exo_2.0', sans-serif;
	font-size: 16px;
	font-weight: bold;
    text-transform: uppercase;
	padding:9px;
	text-align: center;
}

.dk_form_ex {
	float:left;
}

.dk_ballance {
	float:left;
	width:200px;
	height:240px;
	margin-top:20px;
}

.dk_ballance_sum {
	background-color: #e6e9eb;
	text-align: center;
	font-family: 'Tahoma', sans-serif;
	font-weight: 500;
	font-size:30px;
	padding:80px 0;
}

.dk_form_elem {
	width:640px;
	height:60px;
	background-image: url(../images/dkforminp.png);
	margin:20px 0 0 20px;
     color:#999 !important;
}

.dk_form_elem2 {
	width:640px;
	height:60px;
	background-image: url(../images/dkforminp2.png);
		margin:20px 0 0 20px;
}

.dk_form_info {
	float:left;
	font-family: 'Tahoma' sans-serif;
	font-size:16px;
	margin:20px 0 0 20px;
        color:#333333;
}
.dk_form_info span{
	font-family: 'exo_2.0', sans-serif;
	font-weight: 700;
        color:#333333;
	font-size: 16px;
}

.dk_f_foot {
        margin-top:35px;
	overflow:hidden;
}

.dk_btn_ex {
	float:right;
	border:0;
	background-color: transparent;
	width:220px;
	height:43px;
	background: url(../images/dk_exbtn.png) 0 -43px;
	margin-top:20px;
}
.dk_btn_ex:hover{
	background-position: 0 0;
}

.dk_inp_h {
	font-size:16px;
	font-family: 'exo_2.0', sans-serif;
	color:white;
	background-color: #0d283b;
	width:170px;
	height:42px;
        padding:9px;
	float:left;
        font-weight: bold;
        text-transform: uppercase;
}

.dk_f_input {
	width:280px;
	height:30px;
	background-color: #f2f2f2 !important;
	border:1px solid #bebebe !important;
	float:left;
	margin:16px 0 0 40px;
	color:#999 !important;
}

input::-webkit-input-placeholder { color: #999 !important; }
input::-moz-placeholder { color:#999 !important; }

.dk_tournament {
	padding: 11px 7px 0;
	margin: 0 0 20px;
	background: #fff;
	background-image:url(../images/tournamentbck.png);
	background-repeat: no-repeat;
	background-position: top left;
	min-height:400px;
	line-height: 25px;
}

.dk_timer_big {
	width:860px;
	background-color: #f2f4f5;
	margin:0 auto;
	padding:30px 0;
}

.dk_timer_header {
	font-family: "Tahoma", sans-serif;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
}

.dk_note_d {
	font-family: "Tahoma", sans-serif;
	float:left;
	margin:0 0 0 25px;
	
}

.dk_note_b {
	overflow: hidden;
	width:370px;
	margin:0 auto;
}
.dk_note_bsm {
	overflow: hidden;
	width:150px;
	margin:0 auto;
	height:25px;
	font-size: 12px;
	color:#fff;
}

.dk_note_ch {
	float:left;
	margin-left:65px;
}

.dk_note_min {
	float:left;
	margin-left:55px;
}

.dk_note_sek {
	float:left;
	margin-left:50px;
}

.dk_car_b {
	width:760px;
	margin:20px auto;
	padding-bottom:30px;
}
.dk_mesto {
float:left;
margin-top:5px;
}
.dk_mesto a{
	text-decoration: underline;
}
.dk_mesto a:hover{
	text-decoration: none;
}

.dk_tour_info {
	overflow: hidden;
     font-family: "Tahoma", sans-serif;
	font-size: 14px;
	font-weight:800;
	width:100%;
	margin:15px auto;
	padding-top:15px;
}

.dk_fond {
	float:right;
	font-size: 14px;
	font-weight: 800;
	font-family: "Tahoma", sans-serif;
}
.dk_fond span{
	font-family: "Tahoma", sans-serif;
	font-size:26px;
}
.dk_fond img{
	margin-left:0;
}

.trh td {
background-color: #0d283b;
	color:white;
	font-family: 'exo_2.0', sans-serif;
}

.dk_result_table table{
border-spacing:0;
font-family: 'Tahoma', sans-serif;
width:100%;
margin:0 auto;
text-align: center;
font-size: 14px;
}

.dk_result_table table tr{
	padding:5px 0;
	background-color: #e6e9eb;
}
.dk_result_table table tr td{
	padding:7px 0;
	font-family:"exo_2.0", sans-serif;
}
.dk_result_table tr:nth-child(odd) {
	background-color: #f2f4f5;
}

.dk_result_table tr td {
	border-right:1px solid #b8babc;
}
.dk_result_table tr td:last-child{
	border:0;
}

.dk_yetbtn {
	width:100%;
	margin:0 auto;
	height:25px;
	background-color: #006699;
	text-align:center;
	color:white;
	padding:8px 0;
	cursor:pointer;
}
.dk_yetbtn:hover{
		background-color: #0d283b;
}
.dk_yetbtn img{
	margin:7px;
}


.dk_tour_foot {
	width:100%;
	margin:0 auto;
	font-family: "Tahoma", sans-serif;
	font-size: 14px;
	padding-bottom: 5px;
	margin: 30px 0 10px 0;
}
.dk_tour_foot a{
	text-decoration: underline;
	font-family: "Tahoma", sans-serif;
}
.dk_tour_foot a:hover{
	text-decoration: underline;
}

.dk_tourcard {
	height:250px;
	width:860px;
	margin:30px auto 0;
	background:#e6e9eb;
}

.dk_note_dsm {
 float:left;
	margin-left:3px;
}

.dk_note_chsm {
	float:left;
	margin-left: 11px;
}

.dk_note_minsm {
	float:left;
	margin-left: 12px;
}

.dk_note_seksm {
	float:left;
	margin-left: 15px;
}

.timer_sm {
	width:180px;
	margin:0 auto;
}

.dk_smtimer_h {
	text-align: center;
	font-family: "Tahoma", sans-serif;
	color:#fff;
	margin-bottom:-3px;
}

.dk_tourprew {
	width:190px;
	float:left;
	background-color: #0d283b;
	height:100%;
}
.dk_tourprew img{
	margin:10px 9px;
}

.dk_gray {
	background-color: #d6dee2;
	height:120px;
}

.cardtur {
    padding:20px 20px 0px;
}

.dk_zag {
	float:left;
	font-family: "exo_2.0", sans-serif;
	font-size: 24px;
	font-weight: 800;
	color:#333;
}

.dk_cardtur_date {
	float:left;
	font-weight:800;
	line-height: 30px;
	font-family: "Tahoma", sans-serif;
	font-size: 12px;
}

.dk_fullbtn {
	display:block;
	width:149px;
	height:43px;
	background-image: url(../images/fullbtn.png);
	background-position: 0 -43px;
	float:right;
	margin-right:20px;
	margin-top:35px;
}
.dk_fullbtn:hover{
background-position: 0 0;
}

.dk_gold {
	width:70px;
	height:25px;
	background: url(../images/dk_gold.png) no-repeat top center;
	text-align:center;
	float:left;
	font-weight:800;
	padding-top:35px;
}

.dk_silv {
	width:70px;
	height:25px;
	background: url(../images/dk_silver.png) no-repeat top center;
	text-align:center;
	float:left;
	font-weight:800;
	padding-top:35px;
}

.dk_bronz {
	width:70px;
	height:25px;
	background: url(../images/dk_bronze.png) no-repeat top center;
	text-align:center;
	float:left;
	font-weight:800;
	padding-top:35px;
}

.dk_win {
	overflow: hidden;
	float:right;
	margin-top:10px;
}

.dk_car_sm {
	width:420px;
	margin-left:20px;
	float:left;
	margin-top:10px
	}

.dk_smtimer_end {
     text-align: center;
	font-family: "Tahoma", sans-serif;
	color:#fff;
	margin-top: 30px;
}
.dk_body{
margin: 0 0 0 20px;
}


.refilltour:before{
	content: '';
	background: url('../images/tournamentbck.png') no-repeat !important;
	width: 131px;
	height: 119px;
	position: absolute;
	top: 0;
	left:0;
	z-index: -1;
}

.dk_fond img {
	margin-top:8px;
	margin-left:8px;
}



.timer_end {
	padding-top:70px;
}

.dk_fbtn {
	float:right;
}

.carusel_comp {
	float:left;
	margin-left:20px;
}

.dk_cardtur_date a {
text-decoration: underline;	
}
